.base-dfs {
    flex-flow: column nowrap;
    padding-top: 30px;
    align-items: center;
    width: -moz-calc(100% - (230px));
    width: -webkit-calc(100% - (230px));
    width: calc(100% - (230px));
}

.ch-base-dfs {
    padding-top: 150px;
}

.base-dfs .filter-f-c {
    right: 16px;
    top: 6.5%;
    width: 230px;
    height: -moz-calc(100% - (40px));
    height: -webkit-calc(100% - (40px));
    height: calc(100% - (40px));
    border-left: 1px solid #DDD;
    background: #E9E9E9;
    z-index: 50;
}

.base-dfs .s-f-c {
    left: 0;
    top: -100%;
    width: -moz-calc(100% - (236px));
    width: -webkit-calc(100% - (236px));
    width: calc(100% - (236px));
    height: 350px;
    padding: 0;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: #D1D1D1;
}

    .base-dfs .s-f-c .inner-sfc {
        width: 650px;
    }

    .base-dfs .s-f-c.show-sfc {
        top: 7.6%;
    }

.base-dfs .fade-content {
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    opacity: 0;
}

    .base-dfs .fade-content.show-fade {
        z-index: 20;
        opacity: 1;
    }

.body-dfs {
    width: 95%;
    padding: 0 2.5% 30px;
    flex-flow: column nowrap;
    justify-content: center;
}

.f {
    flex-flow: column nowrap;
}

.t-f {
    flex-flow: row nowrap;
    background: #E1E1E1;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 8px;
}

    .t-f i, .t-f h1 {
        font-size: 1.2em;
        color: #606060;
    }

    .t-f i {
        margin: 0 10px;
        font-size: 1.3em;
    }

.b-b-f {
    margin-top: 15px;
    flex-flow: row wrap;
}

.article-f-s {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    margin-bottom: 15px;
    background: #EEE;
}

    .article-f-s .b-a-f {
        flex-flow: row nowrap;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        .article-f-s .b-a-f .t-a-f {
            color: #808080;
            flex: 0 1 auto;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 220px;
            min-width: 220px;
            max-width: 220px;
            border-left: 1px solid #E1E1E1;
        }

            .article-f-s .b-a-f .t-a-f img {
                width: 100px;
                height: auto;
            }

.b-desc-f {
    flex: 1 1 auto;
}

    .b-desc-f > ul {
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .b-desc-f > ul li.inner-desc-f {
            border-bottom: 1px solid #E1E1E1;
            padding-bottom: 10px;
            padding-top: 10px;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row nowrap;
        }

            .b-desc-f > ul li.inner-desc-f:nth-child(2n+1) {
                background: #FFF;
            }

            .b-desc-f > ul li.inner-desc-f:last-child {
                border-bottom: none;
            }

        .b-desc-f > ul .inner-desc-f i {
            color: #454545;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 0 16px;
            min-width: 110px;
            width: 95px;
            font-size: 1em;
        }

            .b-desc-f > ul .inner-desc-f i.ch {
                min-width: 40px;
                width: 45px;
            }

        .b-desc-f > ul .inner-desc-f .bttn-selected-f {
            font-size: 0.95em;
            color: #F1F1F1;
            border: 1px solid #6C1B78;
            padding: 3px 8px;
        }

            .b-desc-f > ul .inner-desc-f .bttn-selected-f:hover {
                background: #6C1B78;
            }

.selected-article-f-s, .selected-inner-desc-f {
    box-shadow: -3px 0 0 0 #43c64a;
}
/* flight search section */

.bb-sfs {
    flex-flow: column nowrap;
}

    .bb-sfs .base-show-flight-search {
        flex-flow: column nowrap;
        flex: 0 1 auto;
        height: 220px;
        border-bottom: 1px solid #CCC;
        box-shadow: 0 2px 0 0 #FFF;
        opacity: 1;
    }

        .bb-sfs .base-show-flight-search.hide-bsfs {
            opacity: 0;
            height: 0;
            display: none;
        }

    .bb-sfs .base-filter-flight {
        flex-flow: column nowrap;
        flex: 1 1 auto;
    }

.title-sfs {
    flex-flow: row nowrap;
    padding: 5px 5%;
    margin-bottom: 8px;
    background: #DDD;
    border-bottom: 1px solid #CCC;
    align-items: center;
}

    .title-sfs i {
        font-size: 2em;
        margin-left: 10px;
    }

.body-sfs, .body-ff {
    flex-flow: column nowrap;
}

    .body-sfs .splite-sfs {
        flex-flow: row nowrap;
        margin-bottom: 5px;
    }

        .body-sfs .splite-sfs .lbl {
            margin-left: 15px;
        }

        .body-sfs .splite-sfs.ch-splite-sfs {
            align-items: center;
            justify-content: center;
            margin: 0;
        }

            .body-sfs .splite-sfs.ch-splite-sfs ._ch-bttn {
                margin: 0 0 5px !important;
                padding: 3px 8px !important;
            }

                .body-sfs .splite-sfs.ch-splite-sfs ._ch-bttn > span {
                    font-size: 1em !important;
                }

    .body-ff .splite-ff {
        flex-flow: column nowrap;
    }

        .body-ff .splite-ff.h-s-ff {
            opacity: 0.15;
        }

        .body-ff .splite-ff.s-s-ff {
            opacity: 1;
        }

        .body-ff .splite-ff .t-ff-s {
            flex-flow: row nowrap;
            align-items: center;
        }

            .body-ff .splite-ff .t-ff-s span {
                color: #606060;
                margin-left: 8px;
            }

                .body-ff .splite-ff .t-ff-s span:first-child {
                    font-size: 2em;
                }

.splite-ff .ul-filter-times {
    flex-flow: row wrap !important;
}

    .splite-ff .ul-filter-times > li {
        width: 43% !important;
    }

.title-sfs span {
    top: 15px;
    left: 10px;
    color: #606060;
    font-size: 0.9em;
    cursor: pointer;
}

    .title-sfs span:hover {
        text-decoration: underline;
    }

.splite-ff ul {
    flex-flow: row nowrap;
}

    .splite-ff ul li {
        min-height: 40px;
        flex-flow: column nowrap;
        padding: 5px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 -4px 0 0 #CCC inset;
        background: #F1F1F1;
        cursor: pointer;
        margin: 2px;
    }

        .splite-ff ul li .param-s {
            flex-flow: column nowrap;
            margin-bottom: 4px;
            align-items: center;
            justify-content: center;
        }

            .splite-ff ul li .param-s.p-t {
                color: #404040;
                font-size: 1.5em;
            }

                .splite-ff ul li .param-s.p-t.ch-p, .splite-ff ul li .param-s.p-b.ch-p {
                    font-size: 0.8em;
                }

            .splite-ff ul li .param-s.p-b {
                color: #606060;
                font-size: 0.7em;
            }

        .splite-ff ul li.active-param {
            box-shadow: 0 -4px 0 0 #c89005 inset;
        }
/* end flight search section */
/* modal content selected flight */
.show-selected-flight-content {
    background: rgba(108, 27, 120, 0.85);
    top: 50px;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-flow: column nowrap;
    width: -moz-calc(100% - (235px));
    width: -webkit-calc(100% - (235px));
    width: calc(100% - (235px));
    z-index:100;
}

    .show-selected-flight-content .d-item-content, .show-selected-flight-content .r-item-content {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .show-selected-flight-content .b-item-content {
        justify-content: flex-start;
    }

        .show-selected-flight-content .b-item-content .last-bttn {
            align-items: center;
            justify-content: center;
            padding: 3px 5px;
            margin: 10px 10px 0 0;
            background: #edb416;
            flex-flow: row nowrap;
            border: 1px solid #dea018;
        }

            .show-selected-flight-content .b-item-content .last-bttn span {
                margin: 0 5px;
                color: #505050;
            }

    .show-selected-flight-content .d-item-content {
        border-bottom: 1px solid #ffca56;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

        .show-selected-flight-content .d-item-content > figure, .show-selected-flight-content .r-item-content > figure {
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background: #FFF;
            border-radius: 4px 4px 4px 4px;
        }

            .show-selected-flight-content .d-item-content > figure > img, .show-selected-flight-content .r-item-content > figure > img {
                width: 20px;
                height: auto;
            }

        .show-selected-flight-content .d-item-content i, .show-selected-flight-content .r-item-content i {
            font-size: 0.95em;
            color: #ffca56;
            margin: 0 8px;
            padding: 0;
            min-width: 90px;
            justify-content: center;
            align-items: center;
        }

/* end modal content selected flight */
