<section class="_flex _w100" ng-init="themEmployee=true;">
    <section class="_flex base-co-e">
        <section class="_flex _w100 item-c-e top-desc _dir-align-r">
            <h3 class="_color-w"> در این بخش می توانند برای تایید سرویس های گرفته شده از سوی شرکت از ما بین افراد عضو شرکت، در 3 سطح مسئول تایید و جایگزین آن فرد را انتخاب نمایید.این امکان به شرکت اجازه می دهد تا فقط این افراد حق تایید سرویس های گرفته شده از سمت شرکت را داشته باشند. </h3>
        </section>
        <section class="_flex _w100 item-c-e _dir-align-r">
            <h3 class="_flex title-e"></h3>
            <h3 class="_flex ch-e-one">مسئول</h3>
            <h3 class="_flex ch-other-e-one">جایگزین</h3>
        </section>
        <section class="_flex _w100 item-c-e _dir-align-r">
            <h3 class="_flex title-e ch-title-e">سطح 1:</h3>
            <div class="_flex e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="_flex other-e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="_flex _w100 item-c-e _dir-align-r">
            <h3 class="_flex title-e ch-title-e">سطح 2:</h3>
            <div class="_flex e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="_flex other-e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="_flex _w100 item-c-e _dir-align-r">
            <h3 class="_flex title-e ch-title-e">سطح 3:</h3>
            <div class="_flex e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
            <div class="_flex other-e-one _trans" ng-click="ShowEmployeeAsign()">
                <article class="_flex article-e-content _cursor">
                    <figure class="_flex">
                        <i class="_flex sbs-ico-user"></i>
                    </figure>
                    <div class="_w100 desc-e _dir-align-r">
                        <div class="_flex split-desc-item-e e-1">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e e-2">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="_flex split-desc-item-e  e-3">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </section>
</section>
