<section class="_flex _w100">
    <section class="_flex _w90-pad5 _dir-align-r base-user-c">
        <h1 class="_flex _color-w _bg1 _dir-align-r _w95-pad25">
            <i class="_color-w sbs-ico-trending_up"></i>
            <b class="_color-w">درخواست اعتبار - تسویه حساب</b>
        </h1>
        <div class="_flex _w95-pad25 _bg-w base-b-u-c _dir-align-r">
            <div class="_w50 _dir-align-r">
                <div class="_w90-pad5 _flex split-i-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-s _color-60">آخرین مبلغ شارژ شده:</label>
                    <label class="_lbl _lbl-form _dir-align-r lbl-l _bold _fnt-fa val-lbl">10،254،000 ریال</label>
                </div>
                <div class="_w90-pad5 _flex split-i-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-s _color-60">مانده شارژ:</label>
                    <label class="_lbl _lbl-form _dir-align-r lbl-l _bold _fnt-fa _color-red val-lbl">254،000 ریال</label>
                </div>
            </div>
            <div class="_w50 _dir-align-r">
                <div class="_flex _dir-align-r _w100 o-p-c">
                    <h1 class="_flex _dir-align-r">پرداخت آنلاین شارژ حساب</h1>
                    <div class="_flex _w95-pad25 _dir-align-r">
                        <div class="_w100 _flex split-i-c">
                            <label class="_lbl _lbl-form _dir-align-r lbl-l">مبلغ پرداخت:</label>
                            <input type="text" placeholder="مبلغ پرداخت" class="_txt-form _fnt-fa" />
                            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button">
                                <span class="_color-w">پرداخت آنلاین</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_flex _w95-pad25 _bg-w history-u-c _dir-align-r">
            <h1 class="_flex _dir-align-r">نمایش تاریخچه اعتبار شرکت</h1>
            <div class="_flex _w100 _dir-align-r">
                <section class="_w50 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-s">از:</label>
                        <input class="_txt _txt-form _txt-datepicker _fnt-fa _trans dpFrom" type="text" placeholder="از تاریخ" ng-model="newFlight.departingDate" persiandatepickers-from readonly />
                        <label class="_lbl _lbl-form _dir-align-r lbl-s" style="text-align:center;">تا:</label>
                        <input class="_txt _txt-form _txt-datepicker _fnt-fa _trans dpTo" type="text" placeholder="تا تاریخ" ng-model="newFlight.returningDate" persiandatepickers-to readonly />
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="SearchOrderServices();">
                            <span class="_color-w">جستجو</span>
                        </div>
                    </div>
                </section>
            </div>
            <section class="_flex _w100 show-data-content _dir-align-r _bg-d" ui-i18n="{{lang}}">
                <div id="grid1" ui-grid="gridOptions" dir="rtl" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid _w100"></div>
            </section>
        </div>
    </section>
</section>
