<section class="_flex _w100 _h100 base-body-container _position-r">
    <section class="_flex body-data-content _h100 _dir-align-r" over>
        <section class="_w100 base-filter-content _dir-align-r">
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="_w40-m5 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">شماره درخواست:</label>
                        <input type="text" placeholder="شماره درخواست" class="_txt-form _fnt-fa" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">انتخاب سرویس:</label>
                        <select class="_select _select-form _dir-align-r _trans" ng-model="newFlight.ticketType" ng-options="option.name for option in baseData.lstTicketType track by option.id">
                            <option value="">انتخاب سرویس</option>
                        </select>
                    </div>
                </section>
                <section class="_w40-m5 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-s">تاریخ از:</label>
                        <input class="_txt _txt-form _txt-datepicker _fnt-fa _trans dpFrom" type="text" placeholder="از تاریخ" ng-model="newFlight.departingDate" persiandatepickers-from readonly />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-s">تا تاریخ:</label>
                        <input class="_txt _txt-form _txt-datepicker _fnt-fa _trans dpTo" type="text" placeholder="تا تاریخ" ng-model="newFlight.returningDate" persiandatepickers-to readonly />
                    </div>
                    <div class="_w100 _flex split-i-c _dir-align-l">
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="SearchOrderServices();">
                            <span class="_color-w">جستجو</span>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <section class="_flex _w100 show-data-content _dir-align-r _bg-d" ui-i18n="{{lang}}">
            <div id="grid1" ui-grid="gridOptions" dir="rtl" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid _w100"></div>
        </section>
        <section class="_flex _w100 show-info-content _dir-align-r" ng-show="false"></section>
    </section>
    <section class="_flex operation-content _dir-align-r">
        <div class="_w50 _flex _dir-align-r">
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="ShowDetailHistoryServices();">
                <i class="_color-w _trans sbs-ico-eye"></i>
                <span class="_color-w">نمایش جزئیات سرویس</span>
            </div>
        </div>
    </section>
</section>

