<section class="_flex _w90-p _h100 base-body-r-s-content _position-r">
    <section class="_flex _w90-m5 re-search-content">
        <div class="_flex _w100 s-c _dir-align-r _position-r">
            <div class="_flex _dir-align-r dp-fa-en _position-a">
                انتخاب نوع تقویم:
                (
                <span class="_flex _cursor _fnt-fa" ng-class="{'underline':dp._J.b}" ng-click="C_Jalali_Gregorian(dp._J);">تقویم شمسی</span>
                -
                <span class="_flex _cursor _fnt-fa" ng-class="{'underline':dp._G.b}" ng-click="C_Jalali_Gregorian(dp._G);">تقویم میلادی</span>
                )
            </div>
            <div angucomplete-alt id="auto_c_From" placeholder="مبدا ( شهر یا فرودگاه)" maxlength="50" pause="100" selected-object="selectedSource" local-data="dataCitys" search-fields="CityName" title-field="CityName" minlength="1" input-class="input-auto-s _fnt-fa _trans _dir-align-r" match-class="highlight">
            </div>
            <div angucomplete-alt id="auto_c_To" placeholder="مقصد ( شهر یا فرودگاه)" maxlength="50" pause="100" selected-object="selectedDestination" local-data="dataCitys" search-fields="CityName" title-field="CityName" minlength="1" input-class="input-auto-s _fnt-fa _trans _dir-align-r" match-class="highlight">
            </div>
            <select class="_flex select-s _dir-align-r _trans" ng-model="searchFlight.JourneyType" ng-init="searchFlight.JourneyType={Id: '1', JourneyTypeName: 'رفت'}" ng-options="option.JourneyTypeName for option in baseData.lstJourneyType track by option.Id"></select>
            <input class="_flex input-s _fnt-fa _trans dpFrom" type="text" placeholder="تاریخ رفت" ng-model="searchFlight.DepartingDate" persiandatepickers-from ng-show="searchFlight.JourneyType.Id==1 || searchFlight.JourneyType.Id==2" />
            <input class="_flex input-s _fnt-fa _trans dpTo" type="text" placeholder="تاریخ برگشت" ng-model="searchFlight.ReturningDate" persiandatepickers-to ng-show="searchFlight.JourneyType.Id==2" />
        </div>
        <div class="_flex _w100 s-c _dir-align-r cmb-ch-s-c">
            <select class="_flex select-s ch-select-s _dir-align-r _trans" ng-model="searchFlight.Adult" ng-options="option.Number for option in baseData.lstAdult track by option.Id">
                <option value="">بزرگسال(12 به بالا)</option>
            </select>
            <select class="_flex select-s ch-select-s _dir-align-r _trans" ng-model="searchFlight.Child" ng-options="option.Number for option in baseData.lstChild track by option.Id">
                <option value="">کودک(بین 2 تا 12)</option>
            </select>
            <select class="_flex select-s ch-select-s _dir-align-r _trans" ng-model="searchFlight.Infant" ng-options="option.Number for option in baseData.lstInfant track by option.Id">
                <option value="">نوزاد(بین 0 تا 2)</option>
            </select>
            <select class="_flex select-s ch-select-s _dir-align-rr _trans" ng-model="searchFlight.DomesticAirline" ng-options="option.D_AirlineName for option in baseData.lstDomesticAirline track by option.Id">
                <option value="">انتخاب ایرلاین</option>
            </select>
        </div>
        <div class="_flex _w100 s-c _dir-align-r">
            <input id="cboxMembershipCard" type="checkbox" class="regular-checkbox big-checkbox" ng-model="searchFlight.SelectedNonStop" />
            <label for="cboxMembershipCard"></label>
            <h1 class="note _dir-align-r" style="margin-right:5px;" ng-class="{'blod-note':searchFlight.SelectedNonStop}">پرواز بدون توقف</h1>
        </div>
        <div class="_flex _w100 s-c _dir-align-l s-c-bttn-content">
            <div class="bttn-srch-f _flex _trans _cursor" ng-click="SearchInternalFlight(selectedSource.originalObject,selectedDestination.originalObject);" role="button" tabindex="0">
                <span class="_fnt-fa _color-w">جستجوی پرواز</span>
            </div>
        </div>
    </section>
    <section class="_flex _w90-pad5 _dir-align-r body-s-r-content">
        <section class="_flex _w100 f" ng-if="Departing.lst.length>0">
            <div class="_flex _w100 t-f _dir-align-r">
                <i class="_flex sbs-ico-long-arrow-left"></i>
                <h1 class="_flex">پروازهای رفت</h1>
            </div>
            <ul class="_flex _w100 b-b-f _dir-align-r">
                <li class="_flex _w100" ng-repeat="departing in Departing.lst | custFilterTicket:$root.Param.airline | orderBy:'DepartureTime'">
                    <article class="_flex _w100 article-f-s" ng-class="{'selected-article-f-s':departing.selected}">
                        <div class="_flex _w100 b-a-f">
                            <div class="_flex t-a-f _dir-align-r">
                                <img alt="{{departing.AirLine}}" title="{{departing.AirLine}}" src="{{departing.LogoImg}}" />
                                <i class="_flex _fnt-fa _dir-align-r">{{departing.Name}} - {{departing.PlaneType}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">شماره پرواز: {{departing.FlightNo}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">ساعت پرواز: {{departing.DepartureTime}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">ساعت فرود: {{departing.ArrivalTime}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">سیستمی</i>
                            </div>
                            <div class="_w100 _flex b-desc-f _dir-align-r">
                                <ul class="_w90-pad5 _flex">
                                    <li class="_w100 _flex _dir-align-r inner-desc-f" ng-repeat="classFareListItem in departing.ClassFareList" ng-class="{'selected-inner-desc-f':classFareListItem.selected}">
                                        <i class="_flex _fnt-fa _bold ch">موجود</i>
                                        <i class="_flex _fnt-fa ch">اکونومی</i>
                                        <i class="_flex _fnt-fa ch">{{classFareListItem.FlightClass}}</i>
                                        <i class="_flex _fnt-fa">کودک: {{classFareListItem.ChildFare}}</i>
                                        <i class="_flex _fnt-fa">نوزاد: {{classFareListItem.InfantFare}}</i>
                                        <i class="_flex _fnt-fa _bold">{{classFareListItem.AdultFare}}</i>
                                        <div class="bttn-selected-f _bg2 _flex _trans _cursor" ng-click="DepartingSelectedFlight(departing,classFareListItem);" role="button" tabindex="0">
                                            <span class="_fnt-fa _color-w">انتخاب پرواز</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </section>
        <section class="_flex _w100 f" ng-if="Returning.lst.length>0">
            <div class="_flex _w100 t-f _dir-align-r">
                <i class="_flex sbs-ico-long-arrow-right"></i>
                <h1 class="_flex">پروازهای برگشت</h1>
            </div>
            <ul class="_flex _w100 b-b-f _dir-align-r">
                <li class="_flex _w100" ng-repeat="returning in Returning.lst | custFilterTicket:$root.Param.airline | orderBy:'DepartureTime'">
                    <article class="_flex _w100 article-f-s" ng-class="{'selected-article-f-s':returning.selected}">
                        <div class="_flex _w100 b-a-f">
                            <div class="_flex t-a-f _dir-align-r">
                                <img alt="{{returning.AirLine}}" title="{{returning.AirLine}}" src="{{returning.LogoImg}}" />
                                <i class="_flex _fnt-fa _dir-align-r">{{returning.Name}} - {{returning.PlaneType}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">شماره پرواز: {{returning.FlightNo}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">ساعت پرواز: {{returning.DepartureTime}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">ساعت فرود: {{returning.ArrivalTime}}</i>
                                <i class="_flex _fnt-fa _dir-align-r">سیستمی</i>
                            </div>
                            <div class="_w100 _flex b-desc-f _dir-align-r">
                                <ul class="_w90-pad5 _flex">
                                    <li class="_w100 _flex _dir-align-r inner-desc-f" ng-repeat="classFareListItem in returning.ClassFareList" ng-class="{'selected-inner-desc-f':classFareListItem.selected}">
                                        <i class="_flex _fnt-fa _bold ch">موجود</i>
                                        <i class="_flex _fnt-fa ch">اکونومی</i>
                                        <i class="_flex _fnt-fa ch">{{classFareListItem.FlightClass}}</i>
                                        <i class="_flex _fnt-fa">کودک: {{classFareListItem.ChildFare}}</i>
                                        <i class="_flex _fnt-fa">نوزاد: {{classFareListItem.InfantFare}}</i>
                                        <i class="_flex _fnt-fa _bold">{{classFareListItem.AdultFare}}</i>
                                        <div class="bttn-selected-f _bg2 _flex _trans _cursor" ng-click="ReturningSelectedFlight(returning,classFareListItem);" role="button" tabindex="0">
                                            <span class="_fnt-fa _color-w">انتخاب پرواز</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </section>
    </section>
    <section class="_flex _w100 _dir-align-r _position-a show-selected-flight-content" ng-show="Departing.selectedItem!=null || Returning.selectedItem!=null">
        <div class="_flex _w90-m5 d-item-content" ng-show="Departing.selectedItem!=null">
            <figure class="_flex">
                <img alt="{{Departing.selectedItem.AirLine}}" title="{{Departing.selectedItem.AirLine}}" src="{{Departing.selectedItem.LogoImg}}" />
            </figure>
            <i class="_flex _fnt-fa _dir-align-r">{{Departing.selectedItem.Name}} - {{Departing.selectedItem.PlaneType}}</i>
            <i class="_flex _fnt-fa _dir-align-r">شماره پرواز: {{Departing.selectedItem.FlightNo}}</i>
            <i class="_flex _fnt-fa _dir-align-r">ساعت پرواز: {{Departing.selectedItem.DepartureTime}}</i>
            <i class="_flex _fnt-fa _dir-align-r">ساعت فرود: {{Departing.selectedItem.ArrivalTime}}</i>
            <i class="_flex _fnt-fa">{{Departing.selected_c_f.FlightClass}}</i>
            <i class="_flex _fnt-fa">کودک: {{Departing.selected_c_f.ChildFare}}</i>
            <i class="_flex _fnt-fa">نوزاد: {{Departing.selected_c_f.InfantFare}}</i>
            <i class="_flex _fnt-fa _bold">{{Departing.selected_c_f.AdultFare}}</i>
        </div>
        <div class="_flex _w90-m5 r-item-content" ng-show="Returning.selectedItem!=null">
            <figure class="_flex">
                <img alt="{{Returning.selectedItem.AirLine}}" title="{{Returning.selectedItem.AirLine}}" src="{{Returning.selectedItem.LogoImg}}" />
            </figure>
            <i class="_flex _fnt-fa _dir-align-r">{{Returning.selectedItem.Name}} - {{Returning.selectedItem.PlaneType}}</i>
            <i class="_flex _fnt-fa _dir-align-r">شماره پرواز: {{Returning.selectedItem.FlightNo}}</i>
            <i class="_flex _fnt-fa _dir-align-r">ساعت پرواز: {{Returning.selectedItem.DepartureTime}}</i>
            <i class="_flex _fnt-fa _dir-align-r">ساعت فرود: {{Returning.selectedItem.ArrivalTime}}</i>
            <i class="_flex _fnt-fa">{{Returning.selected_c_f.FlightClass}}</i>
            <i class="_flex _fnt-fa">کودک: {{Returning.selected_c_f.ChildFare}}</i>
            <i class="_flex _fnt-fa">نوزاد: {{Returning.selected_c_f.InfantFare}}</i>
            <i class="_flex _fnt-fa _bold">{{Returning.selected_c_f.AdultFare}}</i>
        </div>
        <div class="_flex _w90-m5 b-item-content _dir-align-l">
            <div class="last-bttn _flex _trans _cursor" role="button" tabindex="0" ng-click="CancelFlightSelected()">
                <span class="_fnt-fa _color-w">انصراف</span>
            </div>
            <div class="last-bttn _flex _trans _cursor" role="button" tabindex="0" ng-click="SubmitFlightSelected()">
                <span class="_fnt-fa">تایید</span>
                <span class="_fnt-fa">|</span>
                <span class="_fnt-fa">{{totalPrice}}</span>
            </div>
        </div>
    </section>
</section>