.menu-content {
    flex-flow: column nowrap;
}

    .menu-content .t-menu-c {
        height: 30px;
        min-height: 30px;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }

        .menu-content .t-menu-c .t-phone-c {
            flex-flow: row nowrap;
            align-items: center;
            margin-left: 10px;
        }

            .menu-content .t-menu-c .t-phone-c > i, .menu-content .t-menu-c .t-phone-c > span {
                color: orange;
                font-size: 0.9em;
            }

            .menu-content .t-menu-c .t-phone-c > i {
                font-size: 1.5em;
            }

            .menu-content .t-menu-c .t-phone-c > span {
                color: #F1F1F1;
                margin-left: 8px;
            }

    .menu-content .b-menu-c {
        align-items: center;
        flex-flow: row nowrap;
        background: #F4F4F4;
    }

.logo-sbs {
    align-items: center;
    justify-content: center;
    min-width: 160px;
    width: 160px;
}

    .logo-sbs > img {
        height: 80%;
        width: auto;
    }

.menu-content .b-menu-c > ul {
    flex-flow: row nowrap;
    align-items: flex-start;
}

    .menu-content .b-menu-c > ul > li {
        flex-flow: row nowrap;
    }

        .menu-content .b-menu-c > ul > li > a {
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            padding: 0 5px;
            font-size: 0.95em;
            color: #707070;
        }

            .menu-content .b-menu-c > ul > li > a:hover {
                color: #ee3f5b;
                box-shadow: 0 -3px 0 0 #de2543 inset;
            }

        .menu-content .b-menu-c > ul > li.log-li {
            margin-right: 35%;
            align-items: center;
            justify-content: center;
            margin-left: 5%;
        }

            .menu-content .b-menu-c > ul > li.log-li > .login {
                margin-left: 10px;
                border: 1px solid #ee3f5b;
                background: #de2543;
                color: #F1F1F1;
                padding: 10px 8px;
                border-radius: 4px;
                box-shadow: 0 20px 10px 0 #ee3f5b inset;
                align-items: center;
                justify-content: center;
            }


                .menu-content .b-menu-c > ul > li.log-li > .login:before {
                    content: "\e926";
                    font-family: 'sbsfnt' !important;
                    color: #FFF;
                    margin-left: 5px;
                    font-size: 1em;
                    -webkit-transition: all 0.5s ease 0s;
                    -o-transition: all 0.5s ease 0s;
                    transition: all 0.5s ease 0s;
                    -moz-transition: all 0.5s ease 0s;
                }

                .menu-content .b-menu-c > ul > li.log-li > .login:hover:before {
                    margin-left: 10px;
                }

            .menu-content .b-menu-c > ul > li.log-li > .signout-login {
                border: 1px dashed #ee3f5b;
                padding: 10px 8px;
                border-radius: 4px;
                color: #de2543;
                align-items: center;
                justify-content: center;
            }

                .menu-content .b-menu-c > ul > li.log-li > .signout-login:before {
                    content: "\e909";
                    font-family: 'sbsfnt' !important;
                    color: #de2543;
                    margin-left: 5px;
                    font-size: 1em;
                    -webkit-transition: all 0.5s ease 0s;
                    -o-transition: all 0.5s ease 0s;
                    transition: all 0.5s ease 0s;
                    -moz-transition: all 0.5s ease 0s;
                }

                .menu-content .b-menu-c > ul > li.log-li > .signout-login:hover:before {
                    margin-left: 10px;
                    color: #F1F1F1;
                }

                .menu-content .b-menu-c > ul > li.log-li > .signout-login:hover {
                    background: #e94963;
                    color: #F1F1F1;
                    box-shadow: 0 -3px 0 0 #d41f3c inset;
                }

        .menu-content .b-menu-c > ul > li.menu-li {
            align-items: center;
            justify-content: center;
        }

            .menu-content .b-menu-c > ul > li.menu-li > span {
                font-size: 1.8em;
                color: #AAA;
            }

                .menu-content .b-menu-c > ul > li.menu-li > span:hover {
                    color: #de2543;
                }
/* popup-content and change section =========================== */
.popup-content {
    background: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.law-content, .sugg-content {
    width: 700px;
    height: 550px;
    background: #F5F5F5;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    flex-flow: column nowrap;
    padding: 10px;
}

.sugg-content {
    width: 500px;
    height: 400px;
}

.head-title-content {
    min-height: 40px;
    height: 40px;
    border-bottom: 1px dashed #CCC;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

    .head-title-content > i {
        font-size: 1.5em;
        margin-left: 8px;
    }

    .head-title-content > h2 {
        font-size: 1em;
        color: #606060;
    }

.body-popup-content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90%;
    padding: 0 5%;
}

    .body-popup-content > h2 {
        font-size: 1em;
        margin-bottom: 8px;
        color: #505050;
    }

    .body-popup-content > p {
        font-size: 0.9em;
        margin-bottom: 8px;
        text-align: justify;
        color: #707070;
    }
/* end popup-content and change section =========================== */
/* base-inner-menu section */
.base-inner-menu {
    min-height: 320px;
    height: 320px;
    top: 99px;
    background: #F4F4F4;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,0.1)inset,0 5px 10px 0 rgba(0,0,0,0.1)inset;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.arrow-menu {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 450px solid #C1C1C1;
    border-right: 450px solid transparent;
}

    .arrow-menu > img {
        top: -420px;
        left: 10px;
        width: 280px;
    }

.base-inner-menu .body-menu {
    width: 70%;
    padding-right: 3%;
}
/* end base-inner-menu section =========================== */
