.menu-item-content {
    color: #FFF;
    font-size: 2em;
    align-items: center;
    padding: 0 10px;
    cursor: default;
}

.r-c-header-item .menu-item-content:hover {
    background: #845092;
}

.menu-body-content {
    margin: 0;
    padding: 0;
    display: none;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    height: auto;
}

    .menu-body-content .inner-menu-content {
        min-height: 350px;
        flex-flow: row nowrap;
        align-items: stretch;
    }

        .menu-body-content .inner-menu-content .l-m-c {
            flex: 0 1 auto;
            width: 250px;
            background: #CCC;
            flex-flow: column nowrap;
            align-items: flex-start;
            border-right: 1px solid #AAA;
        }
/* left menu content */
.l-m-c .m-contact, .l-m-c .m-help {
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.l-m-c .m-help {
    border-top: 1px solid #AAA;
}

.l-m-c .m-contact .mc-title, .l-m-c .m-contact .mc-body {
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #AAA;
}

.l-m-c .m-contact .mc-body {
    border: none;
    flex-flow: column nowrap;
}

.l-m-c .m-contact .mc-title > i {
    font-size: 0.8em;
}

.l-m-c .m-contact .mc-title > h1 {
    font-size: 0.7em;
}

.mc-body h1 {
    font-size: 0.45em;
    text-align: justify;
    margin-bottom: 5px;
    text-align: right;
    color: #606060;
    direction: rtl;
    width: 100%;
}

    .mc-body h1.address:before {
        font-family: 'sbsfnt' !important;
        content: "\e90a";
        margin-left: 8px;
        color: #845092;
        font-size: 1.2em;
    }

.mc-body a {
    align-self: flex-end;
    border-radius: 2px 2px 2px 2px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: central;
    color: #FFF;
    font-size: 0.5em;
    margin-top: 10px;
}

.l-m-c .m-help a {
    padding: 3px 5%;
    margin: 0;
    font-size: 0.5em;
    align-self: flex-end;
    text-align: right;
}

    .l-m-c .m-help a:hover {
        background: #DDD;
    }

    .l-m-c .m-help a:after {
        content: "✔";
        margin-left: 10px;
    }
/* end left menu content */
.menu-body-content .inner-menu-content .r-m-c {
    flex: 1 1 auto;
    background: rgba(255, 255, 255, 0.95);
}
/* right menu content */
.base-menu {
    padding: 15px 5% 10px;
}

    .base-menu > menu, .base-menu > menu > nav, .base-menu > menu > nav > ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }

        .base-menu > menu > nav > ul {
            align-items: stretch;
            flex-flow: row-reverse nowrap;
        }

            .base-menu > menu > nav > ul .menu-item {
                margin: 0 0 0 45px;
                padding: 0;
                flex-flow: column nowrap;
            }

.menu-item .link-menu, .menu-item .sub-link-menu, .menu-item .head-menu-item {
    font-size: 0.5em;
    color: #606060;
    vertical-align: central;
    justify-content: flex-end;
}

.menu-item .link-menu {
    padding-bottom: 10px;
    color: #252525;
}

.menu-item .b-s-m {
    padding-bottom: 10px;
}

.menu-item .sub-link-menu {
    color: #808080;
    font-size: 0.5em;
}

.menu-item .head-menu-item {
    color: #845092;
    font-weight: bold;
    align-items: center;
}

    .menu-item .head-menu-item > i {
        margin-right: 10px;
    }
/* end right menu content */
.r-c-header-item .menu-item-content:hover .menu-body-content {
    display: block;
}
