/* reg log base css */
.base-log-reg-content {
    flex-flow: column nowrap;
}

.head-reg-log-content {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

    .head-reg-log-content img {
        height: 55px;
        margin-bottom: 8px;
    }

    .head-reg-log-content h1, .head-reg-log-content strong {
        direction: rtl;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 8px;
    }

    .head-reg-log-content h1 {
        color: #252525;
        font-size: 1.6em;
    }

    .head-reg-log-content strong {
        font-size: 1.2em;
    }

    .head-reg-log-content img {
        height: 55px;
    }

.bod-reg-log-content {
    align-items: center;
    justify-content: center;
}

    .bod-reg-log-content .b-l-c {
        width: 320px;
        height: auto;
        background: #EEE;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        flex-flow: column nowrap;
        padding: 30px 0 15px;
        align-items: center;
        position: relative;
        min-height: 265px;
    }

    .bod-reg-log-content .ch-b-l-c {
        width: 700px;
        flex-flow: row nowrap;
        padding: 15px 0;
        align-items: flex-start;
    }

    .bod-reg-log-content .b-l-c.auto-h {
        min-height: 285px;
    }

    .bod-reg-log-content .b-l-c .back-to-f {
        left: 8%;
        top: 8%;
        font-size: 1.5em;
    }

.user-content {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .15);
}

    .user-content > i {
        color: #CCC;
        margin: 15px 0 0;
        font-size: 6.5em;
    }


.frm-log-username-content, .frm-log-pass-content {
    top: 135px;
    flex-flow: column nowrap;
    left: 0;
}

    .frm-log-username-content.first-frm {
        opacity: 1;
        /*display: initial;*/
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

        .frm-log-username-content.first-frm.h-f-f {
            -webkit-transform: translate3d(-120%, 0px, 0px);
            -moz-transform: translate3d(-120%, 0px, 0px);
            -ms-transform: translate3d(-120%, 0px, 0px);
            -o-transform: translate3d(-120%, 0px, 0px);
            transform: translate3d(-120%, 0px, 0px);
            opacity: 0;
            /*display: none;*/
        }

    .frm-log-username-content div, .frm-log-pass-content div {
        margin-bottom: 5px;
    }

    .frm-log-pass-content.second-frm {
        -webkit-transform: translate3d(120%, 0px, 0px);
        -moz-transform: translate3d(120%, 0px, 0px);
        -ms-transform: translate3d(120%, 0px, 0px);
        -o-transform: translate3d(120%, 0px, 0px);
        transform: translate3d(120%, 0px, 0px);
        opacity: 0;
    }

        .frm-log-pass-content.second-frm.h-s-f {
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
            opacity: 1;
        }

    .frm-log-pass-content .i-u-c {
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        margin-top: 10px;
    }

.i-u-c h1 {
    color: #252525;
    font-size: 1em;
}

.i-u-c strong {
    color: #909090;
    font-size: 0.85em;
}

.frm-log-username-content .reg-link, .frm-log-pass-content .forget-pass {
    color: #1AB1F2;
    font-size: 0.95em;
    align-self: flex-start;
    margin-left: 8px;
    margin-top: 8px;
}

    .frm-log-username-content .reg-link:hover, .frm-log-pass-content .forget-pass:hover {
        text-decoration: underline;
    }

.frm-log-pass-content .forget-pass {
    margin-top: 0;
    margin-bottom: 10px;
}

/* register content */
.ch-b-l-c .s-r .reg-info, .ch-b-l-c .s-r .reg-content {
    flex-flow: column nowrap;
}

.ch-b-l-c .s-r .reg-info {
    margin-top: 10px;
}

.ch-b-l-c .s-r .reg-content {
    box-shadow: 1px 0 0 0 #DDD inset,-1px 0 0 0 #FFF;
}

    .ch-b-l-c .s-r .reg-content li {
        flex-flow: column nowrap;
        direction: rtl;
        margin-bottom: 8px;
    }

.ch-b-l-c .s-r .reg-info li {
    direction: rtl;
    margin-bottom: 8px;
}

    .ch-b-l-c .s-r .reg-info li > h1 {
        font-size: 1em;
        color: #808080;
        direction: rtl;
        text-align: justify;
    }

        .ch-b-l-c .s-r .reg-info li > h1:before {
            content: "✔";
            margin-left: 10px;
            color: #6c1b78;
            font-size: 1.1em;
        }

.ch-b-l-c .s-r .reg-content li .d-f-li {
    flex-flow: row nowrap;
}
/* end register content */
/* end reg log base css */
