<section class="_w100 _flex base-log-reg-content">
    <section class="_w100 _flex head-reg-log-content">
        <img src="../../../../../Image/SBS-Logo_web.png" alt="" title="" class="_flex" />
        <h1 class="_flex">یک حساب کاربری. همه ی هفت آسمان آبی</h1>
        <strong class="_flex _color2">با حساب کاربری هفت آسمان خود وارد شوید</strong>
    </section>
    <section class="_w100 _flex bod-reg-log-content">
        <div class="_flex b-l-c _trans_2" ng-class="{'auto-h':ShowSecondLog}" overflow>
            <span class="_position-a back-to-f sbs-ico-chevron-thin-left _color2 _cursor" ng-show="ShowSecondLog" ng-click="ShowSecondLog=!ShowSecondLog"></span>
            <div class="_flex user-content" overflow>
                <i class="sbs-ico-user "></i>
            </div>
            <div class="_flex _w90-pad5 frm-log-username-content first-frm _position-a _trans_2" ng-class="{'h-f-f':ShowSecondLog}">
                <div class="_flex _w100">
                    <input class="_txt _fnt-fa _dir-align-r" placeholder="نام کاربری" ng-model="auth.Username" />
                </div>
                <div class="_flex _w100">
                    <div class="_bttn-log  _flex _trans" role="button" ng-click="ShowSecondLog=!ShowSecondLog">
                        <span class="_fnt>fa">بعدی</span>
                    </div>
                </div>
                <a href="#/haft-aseman-abi/travel-agency/sbs-register" class="_flex reg-link _trans" title="عضویت در وب سایت آژانس هواپیمایی هفت آسمان آبی">ایجاد حساب کاربری</a>
            </div>
            <div class="_flex _w90-pad5 frm-log-pass-content second-frm _position-a _trans_2" ng-class="{'h-s-f':ShowSecondLog}">
                <div class="_flex i-u-c _w100">
                    <h1 class="_flex _fnt-fa">امیر سهیل همدانی</h1>
                    <strong class="_flex _fnt-en">{{auth.Username}}</strong>
                    <div class="_flex _w100">
                        <input class="_txt _fnt-fa _dir-align-r" placeholder="گذرواژه" type="password" ng-model="auth.Password" />
                    </div>
                    <div class="_flex _w100">
                        <div class="_bttn-log  _flex _trans" role="button" ng-click="login();">
                            <span class="_fnt>fa">ورود به سیستم</span>
                        </div>
                    </div>
                </div>
                <a href="#" class="_flex forget-pass _trans" title="فراموش کردن گذرواژه">گذرواژه خود را فراموش کردم ؟</a>
            </div>
        </div>
    </section>
</section>