<section class="_w100 _flex base-log-reg-content">
    <section class="_w100 _flex head-reg-log-content">
        <img src="../../../../../Image/SBS-Logo_web.png" alt="" title="" class="_flex" />
        <h1 class="_flex">ایجاد حساب شرکتی هفت آسمان آبی</h1>
        <strong class="_flex _color2">شما برای ایجاد حساب شرکتی، باید خود عضو هفت آسمان آبی باشید</strong>
    </section>
    <section class="_w100 _flex bod-reg-log-content">
        <div class="_flex b-l-c ch-b-l-c _trans_2">
            <section class="_flex s-r _w50">
                <ul class="_flex reg-info _w100">
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">بهرمندی از اعتبارات پرداخت هفت آسمان آبی</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">قابلیت سطح دسترسی برای اعضا</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">خرید بلیط آنلاین و ثبت تمامی تراکنش های مالی</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">قابلیت درخواست سرویس های آنلاین به صورت گروهی و یا تکی</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">نمایش تاریخچه تمامی خرید های آنلاین</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">نمایش تاریخچه تمامی سرویس های آنلاین</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">قابلیت گزارش گیری در زمان های مختلف</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">قابلیت تایید سرویس ها به وصیله ی مسئولیت تایین شده</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">گارانتی پرداخت های آنلاین</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">و ...</h1>
                    </li>
                </ul>
            </section>
            <section class="_flex s-r _w50">
                <ul class="_flex reg-content _w90-pad5">
                    <li class="_flex _w100">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">نام شرکت:</label>
                        <input type="text" placeholder="نام شرکت" class="_txt _fnt-fa _dir-align-r" ng-model="nRegCo.Email" />
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex _lbl" title="نام و نام خانوادگی">کد اقتصادی - شماره ثبت</label>
                        <div class="_flex d-f-li">
                            <input class="_txt _fnt-fa _dir-align-r" style="width:45%;margin-left:1%;" placeholder="کد اقتصادی" type="text" ng-model="nRegCo.Email" />
                            <input class="_txt _fnt-fa _dir-align-r" style="width:44%" placeholder="شماره ثبت" type="text" ng-model="nRegCo.Email" />
                        </div>
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex _lbl" title="نام و نام خانوادگی">تلفن تماس - فکس</label>
                        <div class="_flex d-f-li">
                            <input class="_txt _fnt-fa _dir-align-r" style="width:45%;margin-left:1%;" placeholder="تلفن تماس" ng-model="nRegCo.Tel" type="text" />
                            <input class="_txt _fnt-fa _dir-align-r" style="width:44%" placeholder="فکس" type="text" ng-model="nRegCo.Fax" />
                        </div>
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex" title="پست الکترونیکی">پست الکترونیکی</label>
                        <input class="_txt _fnt-en _dir-align-l" placeholder="name@example.com" ng-model="nRegCo.Email" type="text" />
                    </li>
                    <li class="_flex _w100">
                        <div class="_bttn-log  _flex _trans" role="button" ng-click="RegisterCompany(nRegCo)">
                            <span class="_fnt>fa">ثبت شرکت</span>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</section>