<section class="_w100 _flex base-log-reg-content">
    <section class="_w100 _flex head-reg-log-content">
        <img src="../../../../../Image/SBS-Logo_web.png" alt="" title="" class="_flex" />
        <h1 class="_flex">ایجاد حساب کاربری هفت آسمان آبی</h1>
        <strong class="_flex _color2">با عضویت در خانواده هفت آسمان آبی به تمامی امکانات دسترسی خواهید داشت</strong>
    </section>
    <section class="_w100 _flex bod-reg-log-content">
        <div class="_flex b-l-c ch-b-l-c _trans_2">
            <section class="_flex s-r _w50">
                <ul class="_flex reg-info _w100">
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">بهرمندی از درخواست تورهای جذاب با قابلیت ثبت و نمایش شرح وقایع از طرف شما در وب سایت</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">بهرمندی از تخفیفات مختلف هفت آسمان آبی</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">خرید بلیط آنلاین و ثبت تمامی تراکنش های مالی</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">قابلیت گزارش گیری در زمان های مختلف</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">درخواست سرویس های آنلاین در هر زمان از شبانه روز</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">گارانتی پرداخت های آنلاین</h1>
                    </li>
                    <li class="_flex _w90-pad5">
                        <h1 class="_flex _w100">و ...</h1>
                    </li>
                </ul>
            </section>
            <section class="_flex s-r _w50">
                <ul class="_flex reg-content _w90-pad5">
                    <li class="_flex _w100">
                        <label class="_flex _lbl" title="نام و نام خانوادگی">نام و نام خانوادگی</label>
                        <div class="_flex d-f-li">
                            <input class="_txt _fnt-fa _dir-align-r" style="width:35%;margin-left:1%;" placeholder="نام" ng-model="nUser.FaName" type="text" />
                            <input class="_txt _fnt-fa _dir-align-r" style="width:54%" placeholder="نام خانوادگی" ng-model="nUser.FaFamily" type="text" />
                        </div>
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex" title="شماره تماس">شماره تماس</label>
                        <div class="_flex _position-r _w100">
                            <input class="_txt _txt-tel _fnt-en _dir-align-l" value="+98" ng-model="nUser.Tel" type="text" maxlength="12" />
                        </div>
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex" title="پست الکترونیکی">پست الکترونیکی</label>
                        <input class="_txt _fnt-en _dir-align-l" placeholder="name@example.com" ng-model="nUser.Email" type="text" />
                    </li>
                    <li class="_flex _w100">
                        <label class="_flex" title="گذرواژه">گذرواژه</label>
                        <input class="_txt _fnt-en _dir-align-l" placeholder="گذرواژه" ng-model="nUser.Password" type="password" />
                    </li>
                    <li class="_flex _w100">
                        <div class="_bttn-log  _flex _trans" role="button" ng-click="RegisterNewUsers(nUser)">
                            <span class="_fnt>fa">ایجاد حساب کاربری</span>
                        </div>
                    </li>
                    <li class="_flex _w100">
                        <div class="_bttn-log  _flex _trans" role="button" ng-click="GoToRegCo()">
                            <span class="_fnt>fa">ایجاد حساب شرکت</span>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</section>