<section class="_w100 base-filter-content _dir-align-r">
    <section class="_w100 _flex filter-content _dir-align-r" ng-class="{'ch-filter-content':!yContent}">
        <section class="base-s-c _flex" ng-class="{'_w40-m5':yContent,'_w100':!yContent}">
            <div class="_w100 _flex split-i-c">
                <label class="_lbl _lbl-form _dir-align-r lbl-l">شرکت سازنده:</label>
                <input type="text" placeholder="شرکت سازنده" class="_txt-form _fnt-fa" ng-model="airplaneModel.Company" />
            </div>
            <div class="_w100 _flex split-i-c">
                <label class="_lbl _lbl-form _dir-align-r lbl-l">نام هواپیما:</label>
                <input type="text" placeholder="نام هواپیما" class="_txt-form _fnt-fa" ng-model="airplaneModel.Name" />
            </div>
        </section>
        <section class="base-s-c _flex" ng-class="{'_w40-m5':yContent,'_w100':!yContent}"></section>
    </section>
</section>