<section class="_flex _w100 base-body-profile">
    <section class="_flex _w100 banner-h-p" style="background:url('http://rrfco.com/wallpaper/conifer_forest_mist_rainy_day-wallpaper-3554x1999.jpg')no-repeat center center">
        <div class="_flex _w100 banner-item top-b-items _dir-align-r _position-r">
            <div class="_flex user-intro-content _cursor _position-r" overflow ng-click="showIntroUserContent=!showIntroUserContent">
                <i class="_flex user-percentage _position-a"></i>
                <div class="_flex user-img-content _position-a" overflow>
                    <!--<img alt="" title="" src="#" />-->
                    <strong class="_flex num-percentage _position-a _fnt-en _trans_2">
                        <b>80%</b>
                    </strong>
                    <i class="_flex sbs-ico-user"></i>
                </div>
            </div>
            <div class="_flex _position-a modal-user-intro-container" ng-show="showIntroUserContent">
                <div class="_flex _w90-pad5 muic-items-content _position-r">
                    <i class="_flex _dir-align-r sbs-ico-earth _color1"></i>
                    <strong class="_flex _fnt-fa _dir-align-r _color1">اطلاعات کلی مشتری</strong>
                    <div class="tooltip-pu _flex _b-ico _cursor _trans edit-intro _position-a" data-tooltip="تغییر">
                        <i class="sbs-ico-edit _flex"></i>
                    </div>
                </div>
                <div class="_flex _w90-pad5 muic-items-content">
                    <!-- ng repeat intro user from list items -->
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-users"></i>
                        <h1>نام کامل:</h1>
                        <h1>امیر سهیل</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-mapmarker"></i>
                        <h1>محل اقامت:</h1>
                        <h1>ایران - تهران</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-heart"></i>
                        <h1>وضعیت تاهل:</h1>
                        <h1>مجرد</h1>
                    </div>
                </div>
                <div class="_flex _w90-pad5 muic-items-content">
                    <div class="_flex _b-ico _cursor _trans">
                        <strong>ورود به پنل شرکتی</strong>
                    </div>
                    <div class="_flex _b-ico _cursor _trans">
                        <strong>خروج</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="_flex banner-item bottom-b-items _dir-align-r">
            <div class="_flex bbb-content">
                <div class="_flex _b-ico _cursor _trans other-b-ico _h100">
                    <i class="sbs-ico-camera _flex"></i>
                    <strong>تغییر عکس بنر</strong>
                </div>
                <!-- setting section on profile -->
                <!--<div class="_flex _b-ico _cursor _trans setting-b-ico _h100">
                    <i class="sbs-ico-cog _flex"></i>
                </div>-->
            </div>
            <!--<div class="_flex bbb-content l-bbb-content">
                <div class="_flex fast-menu-content _trans _cursor">
                    <i class="_flex sbs-ico-playlist_add _color2"></i>
                    <a title="" href="#" class="_flex _color2">سرویس هواپیما</a>
                </div>
                <div class="_flex fast-menu-content _trans _cursor">
                    <i class="_flex sbs-ico-playlist_add _color2"></i>
                </div>
                <div class="_flex fast-menu-content _trans _cursor">
                    <i class="_flex sbs-ico-playlist_add _color2"></i>
                </div>
                <div class="_flex fast-menu-content _trans _cursor">
                    <i class="_flex sbs-ico-playlist_add _color2"></i>
                </div>
            </div>-->
        </div>
    </section>
    <section class="_flex _w90-pad5 body-home-pu _dir-align-r">
        <section class="_flex b-r-h-pu">
            <div class="_flex _w100 content-intro-pu q-pu-content">
                <div class="_flex t-intro-pu _dir-align-r _position-r">
                    <a title="" href="#" class="_flex l-t _dir-align-r">
                        <i class="sbs-ico-border_color q-ico"></i>
                        <b>نام کشور مورد علاقه شما برای تفریح چیست؟</b>
                    </a>
                    <div class="_flex _b-ico _cursor _trans">
                        <i class="sbs-ico-cross _flex"></i>
                    </div>
                </div>
            </div>
            <div class="_flex _w100 content-intro-pu co-req-cotnent">
                <div class="_flex t-intro-pu _dir-align-r _position-r">
                    <a title="" href="#" class="_flex l-t _dir-align-r">
                        <i class="sbs-ico-feedback _color5 co-req-ico"></i>
                        <b>نمایش</b>
                        <span class="_color-w _flex lbl-cnt-req-co">3 درخواست</span>
                    </a>
                    <div class="tooltip-pu _flex _b-ico _cursor _trans" data-tooltip="نمایش">
                        <i class="sbs-ico-edit _flex"></i>
                    </div>
                </div>
                <div class="_flex _w95-pad25 desc-pu-items-content _bg-w1 _dir-align-r">
                    <div class="_flex _w100 co-req-item _position-r">
                        <div class="_flex _b-ico _cursor _trans">
                            <i class="sbs-ico-cross _flex"></i>
                        </div>
                        <img src="https://upload.wikimedia.org/wikipedia/en/f/f6/Economic_Cooperation_Organization_logo.png" alt="company name" title="company name" />
                        <h3 class="_color-60">شرکت کوبل دارو</h3>
                        <div class="_flex _cursor _dir-align-l bttn-req" role="button" ng-click="AcceptReqCo();">
                            <span>پذیرش</span>
                        </div>
                    </div>
                    <div class="_flex _w100 co-req-item _position-r">
                        <div class="_flex _b-ico _cursor _trans">
                            <i class="sbs-ico-cross _flex"></i>
                        </div>
                        <img src="http://khabareiran.ir/FileCenter/News/1424_oonlwyc.jpg" alt="company name" title="company name" />
                        <h3 class="_color-60">شرکت کوبل دارو</h3>
                        <div class="_flex _cursor _dir-align-l bttn-req" role="button" ng-click="AcceptReqCo();">
                            <span>پذیرش</span>
                        </div>
                    </div>
                </div>
                <div class="_flex _w95-pad25 desc-pu-items-content ch-desc-pu-items-content _dir-align-r">
                    <article class="_flex info-user-item" ng-repeat="regUser in acceptedCompanyList" over>
                        <figure class="_flex _w100 fig-user _position-r">
                            <i class="arrow-accepted-user _position-a"></i>
                            <i class="user-img-content _w100 _h100" style="background:#FFF url('{{regUser.urlImg}}') no-repeat center center / cover"></i>
                        </figure>
                    </article>
                </div>
            </div>
            <div class="_flex _w100 content-intro-pu intro-sum-c">
                <div class="_flex t-intro-pu _dir-align-r _position-r">
                    <a title="" href="#" class="_flex l-t _dir-align-r">
                        <i class="sbs-ico-earth intro-ico"></i>
                        <b>نمایش اطلاعات شخصی</b>
                    </a>
                    <div class="tooltip-pu _flex _b-ico _cursor _trans" data-tooltip="تغییر">
                        <i class="sbs-ico-edit _flex"></i>
                    </div>
                </div>
                <div class="_flex desc-pu-items-content _dir-align-r">
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-users"></i>
                        <h1>نام کامل:</h1>
                        <h1>امیر سهیل</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-calendar"></i>
                        <h1>تاریخ تولد:</h1>
                        <h1>28 فروردین 1367</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-home"></i>
                        <h1>محل تولد:</h1>
                        <h1>ایران - تهران</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-mapmarker"></i>
                        <h1>محل اقامت:</h1>
                        <h1>ایران - تهران</h1>
                    </div>
                    <div class="_flex _w100 intro-items">
                        <i class="_flex sbs-ico-heart"></i>
                        <h1>وضعیت تاهل:</h1>
                        <h1>مجرد</h1>
                    </div>
                </div>
            </div>
            <div class="_flex _w100 content-intro-pu photo-pu-c">
                <div class="_flex t-intro-pu _dir-align-r _position-r">
                    <a title="" href="#" class="_flex l-t _dir-align-r">
                        <i class="sbs-ico-image img-pu"></i>
                        <b>گالری تصاویر</b>
                    </a>
                    <div class="tooltip-pu _flex _b-ico _cursor _trans" data-tooltip="تغییر">
                        <i class="sbs-ico-edit _flex"></i>
                    </div>
                </div>
                <div class="_flex desc-pu-items-content _dir-align-r">
                    <figure class="_flex fig-gallery-content _w100 _dir-align-r">
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/03/13-11-16-600x330.jpg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/02/CVH_2016_Jan_13_3473-3-e1455780725578-600x330.jpg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/02/IMG_20151130_092441-600x330.jpg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/01/2016-01-20-10.38.17-1-600x330.jpg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/02/Storytelling-e1454593604629-600x330.png" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/03/P1250195-600x330.jpg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/03/photo-1452421822248-d4c2b47f0c81-600x330.jpeg" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/02/Storytelling-e1454593604629-600x330.png" />
                        </a>
                        <a title="" href="#" class="_flex link-img-pu">
                            <img alt="" title="" src="https://d1aom9xjx6lvur.cloudfront.net/content/uploads/2016/02/CVH_2016_Jan_13_3473-3-e1455780725578-600x330.jpg" />
                        </a>
                    </figure>
                </div>
            </div>
        </section>
        <section class="_flex b-l-h-pu _w100">
            <div class="_flex _w100 content-intro-pu q-pu-content">
                <div class="_flex t-intro-pu _dir-align-r _position-r">
                    <a title="" href="#" class="_flex l-t _dir-align-r">
                        <i class="sbs-ico-trending_up _color5"></i>
                        <b>اطلاعات شارژ حساب</b>
                        <i class="sbs-ico-long-arrow-left _color5"></i>
                        <b>موجودی حساب شما </b>
                        <span class="_color5 _dir-align-r _bold">2،560،000</span>
                    </a>
                    <div class="tooltip-pu _flex _b-ico _cursor _trans" data-tooltip="نمایش">
                        <i class="sbs-ico-edit _flex"></i>
                    </div>
                </div>
            </div>
            <div class="_flex _w100 news-selection-content"></div>
        </section>
    </section>
</section>
