<section class="_flex _w100 _h100 base-body-container _position-r">
    <section class="_flex body-data-content _h100 _dir-align-r _bg-w1" over>
        <section class="_w100 base-filter-content _dir-align-r">
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="_w40-m5 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">انتخاب صفحه:</label>
                        <select class="_select _select-form _dir-align-r _trans" ng-model="WsPagesContext.WebPagesItem" ng-options="option.PageName for option in lstWebPages track by option.Id">
                            <option value="">انتخاب صفحه</option>
                        </select>
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button">
                            <i class="_color-w _trans sbs-ico-playlist_add"></i>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <section class="_flex _w100 show-data-content _dir-align-r">
            <textarea ng-model="WsPagesContext.Context" data-ck-editor></textarea>
        </section>
        <section class="_flex _w100 show-data-content _dir-align-r" style="background:#DDD" ui-i18n="{{lang}}">
            <div id="grid1" ui-grid="gridOptions" dir="rtl" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid _w100"></div>
        </section>
    </section>
    <section class="_flex operation-content _dir-align-r _bg-w">
        <div class="_w50 _flex _dir-align-r">
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="SaveData(WsPagesContext);" ng-show="ShowBttnSave">
                <i class="_color-w _trans sbs-ico-playlist_add"></i>
                <span class="_color-w">ثبت اطلاعات</span>
            </div>
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="UpdateData(WsPagesContext);" ng-show="!ShowBttnSave">
                <i class="_color-w _trans sbs-ico-border_color"></i>
                <span class="_color-w">ویرایش</span>
            </div>
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="DeleteData(WsPagesContext);" ng-show="!ShowBttnSave">
                <i class="_color-w _trans sbs-ico-delete"></i>
                <span class="_color-w">حذف اطلاعات</span>
            </div>
        </div>
    </section>
</section>




