.base-r-s {
    flex-flow: column wrap;
    align-self: flex-start;
}

    .base-r-s .t-r-s {
        padding: 5px 5%;
        border-radius: 2px 2px 2px 2px;
        margin-bottom: 10px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }

        .base-r-s .t-r-s h1 {
            color: #FFF;
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid #EEE;
        }

    .base-r-s .body-item-r-s {
        flex-flow: column wrap;
    }
