/* header content */
.header-content {
    flex: 0 1 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.header-body-content {
    height: 50px;
    align-items: stretch;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.item-h {
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

    .item-h .l-c-header-item, .item-h .r-c-header-item {
        margin: 0;
        padding: 0;
        align-items: stretch;
    }

.l-c-header-item .header-item-content, .r-c-header-item .header-item-content {
    padding: 0 15px;
    align-items: center;
    vertical-align: central;
    justify-content: center;
}

.header-item-content:hover {
    background: #845092;
}

.header-item-content > .ico-user-saw {
    font-size: 1.2em;
    color: #FFF;
}

.header-item-content i {
    color: #ffca56;
    padding: 2px 6px;
    border-radius: 100%;
    font-size: 1em;
}

.header-item-content h1 {
    color: #FFF;
    font-size: 0.85em;
    font-weight: bold;
}

.header-item-content .just-ico {
    color: #FFF;
    font-size: 1.5em;
    padding: 0;
}

.country-flag {
    margin-left: 5px;
}

.show-detail-content {
    top: 115%;
    padding: 5px;
    width: 300px;
    min-height: 150px;
    background: #FFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    left: -20%;
}

    .show-detail-content.currency {
        width: 500px;
        min-height: 250px;
    }

    .show-detail-content.feedback {
        width: 150px;
    }
        /* feedback content */
        .show-detail-content.feedback > ul {
            flex-flow: column nowrap;
        }

            .show-detail-content.feedback > ul li {
                flex-flow: row-reverse nowrap;
            }

                .show-detail-content.feedback > ul li > a {
                    padding: 5px 5%;
                    border-bottom: 1px solid #DDD;
                    font-size: 1em;
                    color: #606060;
                    text-align: right;
                    direction: rtl;
                }

                    .show-detail-content.feedback > ul li > a:hover {
                        background: #DDD;
                    }
    /* end feedback content */

    .show-detail-content:after {
        border: solid;
        border-color: #FFF transparent;
        border-width: 0 6px 6px 6px;
        top: -6px;
        content: "";
        left: 70px;
        position: absolute;
        z-index: 99;
    }

    .show-detail-content:before {
        border: solid;
        border-color: rgba(0,0,0,0.2) transparent;
        border-width: 0 6px 6px 6px;
        top: -7px;
        content: "";
        left: 70px;
        position: absolute;
        z-index: 99;
    }

    .show-detail-content.currency:before, .show-detail-content.currency:after {
        left: 15%;
    }

.base-logo-content {
    padding: 2px 8px;
    background: #FFF;
    align-content: center;
    justify-content: center;
    flex-flow: row nowrap;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

    .base-logo-content > img {
        width: 90%;
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
    }

.item-h .r-c-header-item {
    flex-flow: row-reverse nowrap;
}

.r-c-header-item .signIn-content {
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-right: 30px;
}

    .r-c-header-item .signIn-content .sign-in-user, .r-c-header-item .signIn-content .reg-user {
        padding: 5px 8px;
        margin: 0 5px;
        font-size: 1em;
        border-radius: 2px 2px 2px;
        color: #FFF;
    }
/* end header content */
section[basebodyviewcontent] {
    position: fixed;
    float: right;
    top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: -moz-calc(100% - (50px));
    height: -webkit-calc(100% - (50px));
    height: calc(100% - (50px));
    z-index: 1;
    background: #F5F5F5;
}

    section[basebodyviewcontent] .form-content {
        align-items: stretch;
        align-content: stretch;
        flex-flow: row-reverse nowrap;
    }
