<section class="_flex _w100 _h100 base-body-container _position-r">
    <section class="_flex body-data-content _h100 _dir-align-r _bg-w1" over>
        <section class="_w100 base-filter-content _dir-align-r">
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="_w40-m5 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <span class="_flex img-other-content" style="background:#CCC url('{{WsPagesBanner.FilesItem.FileUrl}}')no-repeat center center / cover">
                            <i>نمایش عکس اصلی</i>
                        </span>
                    </div>
                </section>
                <section class="_w40-m5 base-s-c _flex">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">انتخاب صفحه:</label>
                        <select class="_select _select-form _dir-align-r _trans" ng-model="WsPagesBanner.WebPagesItem" ng-options="option.PageName for option in lstWebPages track by option.Id">
                            <option value="">انتخاب صفحه</option>
                        </select>
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button">
                            <i class="_color-w _trans sbs-ico-playlist_add"></i>
                        </div>
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">عنوان بنر:</label>
                        <input type="text" placeholder="عنوان بنر" class="_txt-form _fnt-fa" ng-model="WsPagesBanner.Title" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">توضیحات بنر:</label>
                        <input type="text" placeholder="توضیحات بنر" class="_txt-form _fnt-fa" ng-model="WsPagesBanner.Description" />
                    </div>
                </section>
            </section>
        </section>
        <section class="_flex _w100 show-data-content _dir-align-r" style="background:#DDD" ui-i18n="{{lang}}">
            <div id="grid1" ui-grid="gridOptions" dir="rtl" ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid _w100"></div>
        </section>
        <section class="_flex _w100 show-info-content _dir-align-r"></section>
    </section>
    <section class="_flex operation-content _dir-align-r _bg-w">
        <div class="_w50 _flex _dir-align-r">
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="SaveData(WsPagesBanner);" ng-show="ShowBttnSave">
                <i class="_color-w _trans sbs-ico-playlist_add"></i>
                <span class="_color-w">ثبت اطلاعات</span>
            </div>
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="UpdateData(WsPagesBanner);" ng-show="!ShowBttnSave">
                <i class="_color-w _trans sbs-ico-border_color"></i>
                <span class="_color-w">ویرایش</span>
            </div>
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="DeleteData(WsPagesBanner);" ng-show="!ShowBttnSave">
                <i class="_color-w _trans sbs-ico-delete"></i>
                <span class="_color-w">حذف اطلاعات</span>
            </div>
        </div>
        <div class="_w50 _flex _dir-align-l">
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="ShowFileManagerContent();">
                <i class="_color-w _trans sm-ico-image"></i>
                <span class="_color-w">انتخاب عکس</span>
            </div>
        </div>
    </section>
</section>




