.base-u-c-pr-content {
    padding-top: 60px;
    flex-flow: row wrap;
}

    .base-u-c-pr-content > header {
        flex-flow: row nowrap;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-bottom: 10px;
    }

        .base-u-c-pr-content > header > h1 {
            font-size: 1.2em;
        }

.base-body-u-c-pr {
    flex-flow: row wrap;
}

.body-peyment {
    flex-flow: row wrap;
    padding-bottom: 15px;
    padding-top: 15px;
}

    .body-peyment .t-p {
        margin-top: 8px;
        padding-top: 8px;
        margin-bottom: 10px;
        background: #DDD;
    }

.t-c-p {
    margin-bottom: 8px !important;
}

.o-p-c > h2 {
    font-size: 1.2em;
}
