.base-call-content {
    flex-flow: column nowrap;
    align-items: flex-start;
}

.top-call-content, .other-call-content {
    flex-flow: row nowrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

    .other-call-content:last-child {
        border-bottom: initial;
    }

    .top-call-content .img-call-content {
        flex: 0 1 auto;
        height: 150px;
        width: 80px;
        margin: 50px 10px 0;
    }

    .top-call-content .body-call-f, .other-call-content .body-call-f {
        flex: 1 1 auto;
        flex-flow: column nowrap;
    }

.body-call-f .base-country {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
}

    .body-call-f .base-country .flag-c {
        width: 32px;
        margin-left: 10px;
    }

        .body-call-f .base-country .flag-c.flag-c-ch {
            margin-right: 10px;
            margin-left: initial;
        }

    .body-call-f .base-country .t-c {
        font-size: 1.2em;
        color: #606060;
    }

.body-call-f h1 {
    color: #606060;
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 100%;
}

    .body-call-f h1.address::before, .body-call-f h1.address-ch::before {
        color: #845092;
        content: "";
        font-family: "sbsfnt" !important;
        font-size: 1.2em;
        margin-left: 8px;
    }

    .body-call-f h1.address-ch::before {
        margin-right: 8px;
        margin-left: initial;
    }

.body-call-f .c-item {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

    .body-call-f .c-item i {
        font-size: 1.2em;
        color: #606060;
    }

        .body-call-f .c-item i:first-child {
            margin-left: 12px;
        }

        .body-call-f .c-item i.en:first-child {
            margin-left: initial;
            margin-right: 12px;
        }

        .body-call-f .c-item i:last-child {
            color: #1AB1F2;
        }
