.base-body-contact {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.banner-contact {
    margin-top: 99px;
    height: 500px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.shadow-b {
    background-image: -moz-linear-gradient(rgba(0,0,0,0.2) 0%,rgba(0,0,0,.6) 55%,rgba(0,0,0,.2) 100%);
    background-image: linear-gradient(rgba(0,0,0,0.2) 0%,rgba(0,0,0,.6) 55%,rgba(0,0,0,.2) 100%);
    z-index: 300;
}

.banner-contact > h1 {
    z-index: 600;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

    .banner-contact > h1 > i {
        font-size: 2.5em;
        margin-bottom: 15px;
        color: #F1F1F1;
    }

        .banner-contact > h1 > i:before, .banner-contact > h1 > i:after {
            font-size: 1em;
            font-family: 'sbsfnt' !important;
            color: orange;
            margin: 10px 10px 40px;
        }

        .banner-contact > h1 > i:before {
            content: "\e914";
        }

        .banner-contact > h1 > i:after {
            content: "\e915";
        }


    .banner-contact > h1 > span {
        font-size: 1.5em;
        color: orange;
    }
