@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 900;
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Black.0cbe440.eot);
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Black.0cbe440.eot?#iefix) format("embedded-opentype"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Black.3d58553.woff2) format("woff2"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Black.6e6d05b.woff) format("woff"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Black.879c6f0.ttf) format("truetype");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Bold.cacb945.eot);
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Bold.cacb945.eot?#iefix) format("embedded-opentype"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Bold.924be0f.woff2) format("woff2"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Bold.6ed6ddf.woff) format("woff"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Bold.cf91637.ttf) format("truetype");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Medium.5a25001.eot);
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Medium.5a25001.eot?#iefix) format("embedded-opentype"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Medium.8451859.woff2) format("woff2"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Medium.32cc237.woff) format("woff"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Medium.caa93b1.ttf) format("truetype");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Light.fe61680.eot);
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Light.fe61680.eot?#iefix) format("embedded-opentype"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Light.d11c490.woff2) format("woff2"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Light.74955f1.woff) format("woff"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa_Light.1604933.ttf) format("truetype");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa.07e13ce.eot);
    src: url(https://cdn.alibaba.ir/fonts/IRANSansWebFa.07e13ce.eot?#iefix) format("embedded-opentype"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa.38d4b5f.woff2) format("woff2"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa.d4bb655.woff) format("woff"),url(https://cdn.alibaba.ir/fonts/IRANSansWebFa.a5080d9.ttf) format("truetype");
}

@font-face {
    font-family: 'sbsfnt';
    src: url('/style/font/sbsfnt.eot?o1k7md');
    src: url('/style/font/sbsfnt.eot?o1k7md#iefix') format('embedded-opentype'), url('/style/font/sbsfnt.ttf?o1k7md') format('truetype'), url('/style/font/sbsfnt.woff?o1k7md') format('woff'), url('/style/font/sbsfnt.svg?o1k7md#sbsfnt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sbs-ico-"], [class*="sbs-ico-"] {
    font-family: 'sbsfnt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sbs-ico-eye1:before {
  content: "\e942";
}
.sbs-ico-message-square:before {
  content: "\e943";
}
.sbs-ico-thumbs-up:before {
  content: "\e944";
}
.sbs-ico-toolbox:before {
  content: "\e014";
}
.sbs-ico-playlist_add:before {
  content: "\e01e";
}
.sbs-ico-sort_by_alpha:before {
  content: "\e036";
}
.sbs-ico-circle-compass:before {
  content: "\e038";
}
.sbs-ico-clock:before {
  content: "\e055";
}
.sbs-ico-content-left:before {
  content: "\e101";
}
.sbs-ico-menu:before {
  content: "\e120";
}
.sbs-ico-mail:before {
  content: "\e158";
}
.sbs-ico-mail2:before {
  content: "\e159";
}
.sbs-ico-border_color:before {
  content: "\e22b";
}
.sbs-ico-delete:before {
  content: "\e287";
}
.sbs-ico-keyboard_arrow_down:before {
  content: "\e313";
}
.sbs-ico-flight:before {
  content: "\e539";
}
.sbs-ico-local_airport:before {
  content: "\e53d";
}
.sbs-ico-local_parking:before {
  content: "\e54f";
}
.sbs-ico-airline_seat_recline_extra:before {
  content: "\e636";
}
.sbs-ico-airline_seat_recline_normal:before {
  content: "\e637";
}
.sbs-ico-feedback:before {
  content: "\e87f";
}
.sbs-ico-settings_phone:before {
  content: "\e8c5";
}
.sbs-ico-trending_up:before {
  content: "\e8e5";
}
.sbs-ico-user:before {
  content: "\e900";
}
.sbs-ico-window:before {
  content: "\e901";
}
.sbs-ico-pause:before {
  content: "\e902";
}
.sbs-ico-arrow-forward:before {
  content: "\e903";
}
.sbs-ico-files:before {
  content: "\e904";
}
.sbs-ico-user2:before {
  content: "\e905";
}
.sbs-ico-airplane:before {
  content: "\e906";
}
.sbs-ico-calendar:before {
  content: "\e907";
}
.sbs-ico-eye:before {
  content: "\e908";
}
.sbs-ico-users:before {
  content: "\e909";
}
.sbs-ico-dropbox:before {
  content: "\e90a";
}
.sbs-ico-transfer:before {
  content: "\e90b";
}
.sbs-ico-in-alt:before {
  content: "\e90c";
}
.sbs-ico-users2:before {
  content: "\e90d";
}
.sbs-ico-mapmarker:before {
  content: "\e90e";
}
.sbs-ico-chevron-down:before {
  content: "\e90f";
}
.sbs-ico-chevron-small-down:before {
  content: "\e910";
}
.sbs-ico-chevron-thin-down:before {
  content: "\e911";
}
.sbs-ico-map:before {
  content: "\e912";
}
.sbs-ico-heart:before {
  content: "\e913";
}
.sbs-ico-left-quote:before {
  content: "\e914";
}
.sbs-ico-right-quote:before {
  content: "\e915";
}
.sbs-ico-share:before {
  content: "\e916";
}
.sbs-ico-image:before {
  content: "\e917";
}
.sbs-ico-earth:before {
  content: "\e918";
}
.sbs-ico-history:before {
  content: "\e919";
}
.sbs-ico-stats-dots:before {
  content: "\e91a";
}
.sbs-ico-connection:before {
  content: "\e91b";
}
.sbs-ico-power:before {
  content: "\e91c";
}
.sbs-ico-graph:before {
  content: "\e91d";
}
.sbs-ico-phone-hang-up:before {
  content: "\e91e";
}
.sbs-ico-chevron-left:before {
  content: "\e91f";
}
.sbs-ico-chevron-right:before {
  content: "\e920";
}
.sbs-ico-chevron-small-down2:before {
  content: "\e921";
}
.sbs-ico-chevron-small-left:before {
  content: "\e922";
}
.sbs-ico-chevron-small-right:before {
  content: "\e923";
}
.sbs-ico-chevron-small-up:before {
  content: "\e924";
}
.sbs-ico-chevron-thin-down2:before {
  content: "\e925";
}
.sbs-ico-chevron-thin-left:before {
  content: "\e926";
}
.sbs-ico-chevron-thin-right:before {
  content: "\e927";
}
.sbs-ico-chevron-thin-up:before {
  content: "\e928";
}
.sbs-ico-dots-three-horizontal:before {
  content: "\e929";
}
.sbs-ico-dots-three-vertical:before {
  content: "\e92a";
}
.sbs-ico-dots-two-horizontal:before {
  content: "\e92b";
}
.sbs-ico-dots-two-vertical:before {
  content: "\e92c";
}
.sbs-ico-ccw:before {
  content: "\e92d";
}
.sbs-ico-check:before {
  content: "\e92e";
}
.sbs-ico-cross:before {
  content: "\e92f";
}
.sbs-ico-hyperlink:before {
  content: "\e930";
}
.sbs-ico-linkedin:before {
  content: "\e931";
}
.sbs-ico-sunrise:before {
  content: "\e932";
}
.sbs-ico-sun:before {
  content: "\e933";
}
.sbs-ico-moon:before {
  content: "\e934";
}
.sbs-ico-weather:before {
  content: "\e935";
}
.sbs-ico-chat:before {
  content: "\e936";
}
.sbs-ico-camera:before {
  content: "\e937";
}
.sbs-ico-paperplane:before {
  content: "\e938";
}
.sbs-ico-office:before {
  content: "\e939";
}
.sbs-ico-drink:before {
  content: "\e93a";
}
.sbs-ico-car:before {
  content: "\e93b";
}
.sbs-ico-document-fill:before {
  content: "\e93c";
}
.sbs-ico-select-arrows:before {
  content: "\e93d";
}
.sbs-ico-coins:before {
  content: "\e93e";
}
.sbs-ico-document-certificate:before {
  content: "\e93f";
}
.sbs-ico-flight_land:before {
  content: "\e940";
}
.sbs-ico-flight_takeoff:before {
  content: "\e941";
}
.sbs-ico-spoon-knife:before {
  content: "\e9a3";
}
.sbs-ico-airport_shuttle:before {
  content: "\eb3c";
}
.sbs-ico-golf_course:before {
  content: "\eb45";
}
.sbs-ico-pool:before {
  content: "\eb48";
}
.sbs-ico-signal:before {
  content: "\f012";
}
.sbs-ico-cog:before {
  content: "\f013";
}
.sbs-ico-star:before {
  content: "\f02a";
}
.sbs-ico-edit:before {
  content: "\f044";
}
.sbs-ico-alignment-align:before {
  content: "\f08a";
}
.sbs-ico-home:before {
  content: "\f08d";
}
.sbs-ico-group:before {
  content: "\f0c0";
}
.sbs-ico-angle-down:before {
  content: "\f107";
}
.sbs-ico-sort-amount-asc:before {
  content: "\f160";
}
.sbs-ico-sort-amount-desc:before {
  content: "\f161";
}
.sbs-ico-long-arrow-left:before {
  content: "\f177";
}
.sbs-ico-long-arrow-right:before {
  content: "\f178";
}
.sbs-ico-fax:before {
  content: "\f1ac";
}
.sbs-ico-user-plus:before {
  content: "\f234";
}
.sbs-ico-bed:before {
  content: "\f236";
}
.sbs-ico-subway:before {
  content: "\f239";
}
.sbs-ico-volume-control-phone:before {
  content: "\f2a0";
}
.sbs-ico-banknote:before {
  content: "\e945";
}
.sbs-ico-shield:before {
  content: "\e022";
}
.sbs-ico-map1:before {
  content: "\e025";
}
.sbs-ico-chat1:before {
  content: "\e049";
}



/* file manager content */
@font-face {
    font-family: 'fmfnt';
    src: url('/Style/font/filemanager/fmfnt.eot?o18l4g');
    src: url('/Style/font/filemanager/fmfnt.eot?o18l4g#iefix') format('embedded-opentype'), url('/Style/font/filemanager/fmfnt.ttf?o18l4g') format('truetype'), url('/Style/font/filemanager/fmfnt.woff?o18l4g') format('woff'), url('/Style/font/filemanager/fmfnt.svg?o18l4g#fmfnt') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fm-ico"], [class*=" fm-ico"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fmfnt' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fm-icostar:before {
    content: "\f005";
}

.fm-icodownload:before {
    content: "\f019";
}

.fm-icoedit:before {
    content: "\f044";
}

.fm-icopencil-square-o:before {
    content: "\f044";
}

.fm-icofolder:before {
    content: "\f07b";
}

.fm-icoangle-left:before {
    content: "\f104";
}

.fm-icoangle-right:before {
    content: "\f105";
}

.fm-icoangle-up:before {
    content: "\f106";
}

.fm-icoangle-down:before {
    content: "\f107";
}

.fm-icoellipsis-h:before {
    content: "\f141";
}

.fm-icoellipsis-v:before {
    content: "\f142";
}

.fm-icolong-arrow-down:before {
    content: "\f175";
}

.fm-icolong-arrow-up:before {
    content: "\f176";
}

.fm-icofile-pdf-o:before {
    content: "\f1c1";
}

.fm-icofile-word-o:before {
    content: "\f1c2";
}

.fm-icofile-excel-o:before {
    content: "\f1c3";
}

.fm-icofile-powerpoint-o:before {
    content: "\f1c4";
}

.fm-icofile-image-o:before {
    content: "\f1c5";
}

.fm-icofile-photo-o:before {
    content: "\f1c5";
}

.fm-icofile-picture-o:before {
    content: "\f1c5";
}

.fm-icofile-archive-o:before {
    content: "\f1c6";
}

.fm-icofile-zip-o:before {
    content: "\f1c6";
}

.fm-icofile-audio-o:before {
    content: "\f1c7";
}

.fm-icofile-sound-o:before {
    content: "\f1c7";
}

.fm-icofile-movie-o:before {
    content: "\f1c8";
}

.fm-icofile-video-o:before {
    content: "\f1c8";
}

.fm-icocancel:before {
    content: "\e5c9";
}

.fm-icoclose:before {
    content: "\e5cd";
}

.fm-icodelete:before {
    content: "\e872";
}

.fm-icodelete_sweep:before {
    content: "\e16c";
}

.fm-icomove_to_inbox:before {
    content: "\e168";
}

.fm-icocross2:before {
    content: "\e117";
}

.fm-icosort-alpha-asc:before {
    content: "\ea48";
}

.fm-icosort-alpha-desc:before {
    content: "\ea49";
}

.fm-icosort-amount-asc:before {
    content: "\ea4c";
}

.fm-icosort-amount-desc:before {
    content: "\ea4d";
}

.fm-icocross:before {
    content: "\e92a";
}

.fm-icocalendar:before {
    content: "\e900";
}

.fm-icoupload:before {
    content: "\e901";
}
/* end file manage content */

A:link, A:hover, A:active, A:visited, img, img:link, img:hover, img:active, img:visited {
    text-decoration: none;
    outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none outside none;
}

body[data-lang="fa"] {
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "IranSans",sans-serif;
    font-size: 1em;
    background: #F4F4F4 !important;
}

body[data-bg="F5"] {
    background: #F5F5F5 !important;
}
/* object CSS Content for example input or other ... =======================================
    ========================================================================================
    ========================================================================================
    ========================================================================================
*/
/* textbox & bttn class content */
._input-selc-body {
    border-radius: 3px;
    background: #F1F1F1;
    border: 1px solid #A27EAE;
    padding: 12px 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8px;
    margin-bottom: 8px;
}

    ._input-selc-body > i {
        margin-left: 5px;
        font-size: 1em;
    }

        ._input-selc-body > i > b {
            font-size: 0.7em;
            color: #707070;
            top: -38px;
            right: -10px;
            width: 100px;
        }

    ._input-selc-body ._i-to {
        margin-right: 5px;
        padding-right: 20px;
        border-right: 1px dashed #CAB7D3;
    }

        ._input-selc-body ._i-to > b {
            right: 0px;
        }

    ._input-selc-body > ._txt-c {
        width: 120px;
        border: none;
        color: #707070;
        font-size: 0.95em;
        background: none;
    }

        ._input-selc-body > ._txt-c._txt-num {
            width: 45px;
        }

._bttn-body-c, ._bttn-body-c > ._bttn-c {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

    ._bttn-body-c > ._bttn-c {
        border: 1px solid #6C1B78;
        border-radius: 3px;
        background: #6C1B78;
        box-shadow: 0 20px 20px 0 #872296 inset;
        padding: 12px 30px;
        margin: 0 3px;
        align-items: center;
        margin-bottom: 8px;
    }

        ._bttn-body-c > ._bttn-c > span {
            color: #F1F1F1;
            font-size: 0.95em;
        }

        ._bttn-body-c > ._bttn-c > i {
            color: #F1F1F1;
            font-size: 1.2em;
            margin-right: 3px;
        }

        ._bttn-body-c > ._bttn-c:hover > i {
            margin-right: 6px;
        }
/* end textbox & bttn class content */
/* checkBox class */
.regular-checkbox {
    display: none;
}

    .regular-checkbox + label {
        background-color: #FAFAFA;
        border: 1px solid #CCC;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
        display: inline-block;
        padding: 5px;
        position: relative;
    }

        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            border: 1px solid #CCC;
        }

    .regular-checkbox:checked + label {
        background-color: #E9ECEE;
        border: 1px solid #ADB8C0;
        color: #845092;
    }

        .regular-checkbox:checked + label:after {
            color: #845092;
            content: "✔";
            font-size: 14px;
            left: 3px;
            position: absolute;
            top: 0;
        }

.big-checkbox + label {
    padding: 12px;
}

.big-checkbox:checked + label:after {
    font-size: 20px;
    left: 4px;
    top: -2px;
}
/* end checkBox class */
