/* textbox & bttn class content */
._input-selc-body {
    border-radius: 3px;
    background: #F1F1F1;
    border: 1px solid #A27EAE;
    padding: 12px 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8px;
    margin-bottom: 8px;
}

    ._input-selc-body > i {
        margin-left: 5px;
        font-size: 1em;
    }

        ._input-selc-body > i > b {
            font-size: 0.7em;
            color: #707070;
            top: -38px;
            right: -10px;
            width: 100px;
        }

    ._input-selc-body ._i-to {
        margin-right: 5px;
        padding-right: 20px;
        border-right: 1px dashed #CAB7D3;
    }

        ._input-selc-body ._i-to > b {
            right: 0px;
        }

    ._input-selc-body > ._txt-c {
        width: 120px;
        border: none;
        color: #707070;
        font-size: 0.95em;
        background: none;
    }

        ._input-selc-body > ._txt-c._txt-num {
            width: 45px;
        }

._bttn-body-c, ._bttn-body-c > ._bttn-c {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

    ._bttn-body-c > ._bttn-c {
        border: 1px solid #6C1B78;
        border-radius: 3px;
        background: #6C1B78;
        box-shadow: 0 20px 20px 0 #872296 inset;
        padding: 12px 30px;
        margin: 0 3px;
        align-items: center;
        margin-bottom: 8px;
    }

        ._bttn-body-c > ._bttn-c > span {
            color: #F1F1F1;
            font-size: 0.95em;
        }

        ._bttn-body-c > ._bttn-c > i {
            color: #F1F1F1;
            font-size: 1.2em;
            margin-right: 3px;
        }

        ._bttn-body-c > ._bttn-c:hover > i {
            margin-right: 6px;
        }
/* end textbox & bttn class content */
/* checkBox class */
.regular-checkbox {
    display: none;
}

    .regular-checkbox + label {
        background-color: #FAFAFA;
        border: 1px solid #CCC;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
        display: inline-block;
        padding: 5px;
        position: relative;
    }

        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            border: 1px solid #CCC;
        }

    .regular-checkbox:checked + label {
        background-color: #E9ECEE;
        border: 1px solid #ADB8C0;
        color: #845092;
    }

        .regular-checkbox:checked + label:after {
            color: #845092;
            content: "✔";
            font-size: 14px;
            left: 3px;
            position: absolute;
            top: 0;
        }

.big-checkbox + label {
    padding: 12px;
}

.big-checkbox:checked + label:after {
    font-size: 20px;
    left: 4px;
    top: -2px;
}
/* end checkBox class */
._trans {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

._trans_1 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

._trans_2 {
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

div[over], section[over], article[over] {
    overflow-x: hidden;
    overflow-y: auto;
}

div[overflow], section[overflow], article[overflow], figure[overflow] {
    overflow: hidden;
}

._dir-align-r {
    direction: rtl;
    text-align: right;
}

._dir-align-l {
    direction: ltr;
    text-align: left;
}

._w100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

._w90-pad5 {
    width: 90%;
    margin: 0;
    padding: 0 5%;
}

._w90-m5 {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

._w95-pad25 {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
}

._w95-m25 {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

._w50 {
    width: 50%;
    margin: 0;
    padding: 0;
}

._w40-m5 {
    width: 40%;
    margin: 0 5%;
    padding: 0;
}

._h100 {
    height: 100%;
}

._flex {
    display: flex;
}

._f-r {
    float: right;
}

._f-l {
    float: left;
}

._bg1 {
    background: #6C1B78;
}

._bg1-1 {
    background: #53155c;
}

._color1 {
    color: #6C1B78;
}

._bg2 {
    background: #845092;
}

._color2 {
    color: #845092;
}

._bg3 {
    background: #A27EAE;
}

._color3 {
    color: #A27EAE;
}

._bg4 {
    background: #CAB7D3;
}

._color4 {
    color: #CAB7D3;
}

._bg-w {
    background: #FFF;
}

._bg-f5 {
    background: #F5F5F5;
}

._bg-w1 {
    background: #F1F1F1;
}

._color-w {
    color: #FFF !important;
}

._color-w1 {
    color: #F1F1F1 !important;
}

._color-60 {
    color: #606060;
}

._color-blue {
    color: #00a1e1;
}

._color-blue-1 {
    color: #003580;
}

._bg-red {
    background: #E22A32;
}

._color-red {
    color: #E22A32;
}

._color-g {
    color: #5eba33;
}

._bold {
    font-weight: bold;
}

._border-b {
    border-bottom: 1px solid #CCC !important;
}

._box {
    -webkit-box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    box-sizing: unset !important;
}

._trasform_-20 {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

._trasform_20 {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
}

._fnt-en {
    font-family: "IranSans",sans-serif;
}

._fnt-fa {
    font-family: "IranSans",sans-serif;
}

._border-r {
    border-right: 1px solid #845092;
}

._border-l {
    border-left: 1px solid #845092;
}

._cursor {
    cursor: pointer;
}

._position-r {
    position: relative;
}

._position-a {
    position: absolute;
}

._position-f {
    position: fixed;
}

.tooltip {
    position: relative;
}


    .tooltip:hover:after {
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
        top: 110%;
        color: #fff;
        content: attr(data-tooltip);
        left: 10%;
        padding: 5px 10px;
        position: absolute;
        z-index: 100;
        width: 90px;
        font-size: 0.9em;
        text-align: center;
    }


    .tooltip:hover:before {
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
        border: solid;
        border-color: rgba(0,0,0,0.5) transparent;
        border-width: 0 6px 6px 6px;
        bottom: -5px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }
/* country flag */
._country-f-c {
    height: 18px;
    left: 0;
    padding: 6.5px 5px;
    top: 3.5px;
    width: 45px;
    background: #EEE;
    border: 1px solid #A27EAE;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

    ._country-f-c > img {
        width: 20px;
        height: auto;
    }

    ._country-f-c > i {
        color: #aaa;
        font-size: 1.1em;
        margin-left: 5px;
    }

/* end country flag */
