/* label class */
[class^="_lbl"], [class*="_lbl"] {
    font-size: 1em;
    color: #606060;
    width: 100%;
    margin: 4px 0;
}

.c-lbl {
    min-width: 30px;
}
/* end label class */
/* combo box class */
[class^="_select"], [class*="_select"] {
    font-size: 0.95em;
    color: #808080;
    min-width: 120px;
    width: 200px;
    flex: 1 1 auto;
    font-family: "BNazanin","BNazanin_regular","BNazanin_bold";
}

[class^="_select>form"], [class*="_select>form"] {
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #DDD;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../Image/element/arrow-botton-select-tag-img.png') no-repeat 5% center #FFF;
}

    [class^="_select>form"]:hover, [class*="_select>form"]:hover {
        border: 1px solid #A27EAE;
    }

    [class^="_select>form"]:focus, [class*="_select>form"]:focus {
        border: 1px solid #A27EAE;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2) inset;
    }
/* end combo box class */
/* textbox class */
[class^="_txt"], [class*="_txt"], [class^="_txt-tel"], [class*="_txt-tel"], .kk-timepicker__input-group input[type=text] {
    font-size: 1em !important;
    color: #606060 !important;
    border: 1px solid #DDD !important;
    padding: 5px 2.2% !important;
    width: 95%;
    margin: 4px 0 !important;
}

.kk-timepicker__input-group input[type=text] {
    width: 80px !important;
    text-align: center !important;
}

[class^="_txt-tel"], [class*="_txt-tel"] {
    padding: 5px 0 5px 20%;
    width: 80%;
}

.kk-timepicker__input-group input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.9em;
}

.kk-timepicker__input-group input[type=text]::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.9em;
}

.kk-timepicker__input-group input[type=text]:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.9em;
}

.kk-timepicker__input-group input[type=text]:-moz-placeholder { /* Firefox 18- */
    font-size: 0.9em;
}

[class^="_txt"]:hover, [class*="_txt"]:hover, [class^="_txt-tel"]:hover, [class*="_txt-tel"]:hover {
    border: 1px solid #A27EAE;
}

[class^="_txt"]:focus, [class*="_txt"]:focus, [class^="_txt-tel"]:focus, [class*="_txt-tel"]:focus, .kk-timepicker__input-group input[type=text]:hover, .kk-timepicker__input-group input[type=text]:focus {
    border: 1px solid #A27EAE !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2) inset !important;
}

/* end textbox class */
/* textarea class */
[class^="_txtarea"], [class*="_txtarea"] {
    font-size: 1em;
    color: #606060;
    border: 1px solid #DDD;
    padding: 3px;
    height: 150px;
    min-height: 100px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

    [class^="_txtarea"]:hover, [class*="_txtarea"]:hover {
        border: 1px solid #A27EAE;
    }

    [class^="_txtarea"]:focus, [class*="_txtarea"]:focus {
        border: 1px solid #A27EAE;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2) inset;
    }
/* end textarea class */
/* bttn class */
[class^="_bttn"], [class*="_bttn"], [class^="_bttn>1"], [class*="_bttn>1"] {
    border: 1px solid #6C1B78 !important;
    background: #6C1B78;
    border-radius: 3px;
    vertical-align: central;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    margin: 8px;
    color: #F1F1F1;
}

[class^="_bttn-log"], [class*="_bttn-log"] {
    border: 1px solid #6C1B78;
    background: #845092;
    border-radius: 3px;
    vertical-align: central;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin: 0;
    width: 100%;
}

[class^="_bttn>1"], [class*="_bttn>1"] {
    border: 1px solid #DDD;
    background: #FFF;
}

[class^="_bttn"]:hover, [class*="_bttn"]:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 0 #6C1B78 inset;
}

[class^="_bttn>1"]:hover, [class*="_bttn>1"]:hover {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #CCC;
}

[class^="_bttn"] > i, [class*="_bttn"] > i, [class^="_bttn"] > span, [class*="_bttn"] > span {
    font-size: 1em;
    color: #FFF;
}

[class^="_bttn"] > span, [class*="_bttn"] > span {
    font-size: 1.2em;
}

[class^="_bttn>1"] > i, [class*="_bttn>1"] > i {
    font-size: 1em;
    color: #606060;
}

[class^="_bttn"]:hover > i, [class*="_bttn"]:hover > i {
    padding: 0 8px;
}
/* end bttn class */
/* checkBox class */
.regular-checkbox {
    display: none;
}

    .regular-checkbox + label {
        background-color: #FAFAFA;
        border: 1px solid #CCC;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
        display: inline-block;
        padding: 5px;
        position: relative;
    }

        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
            border: 1px solid #CCC;
        }

    .regular-checkbox:checked + label {
        background-color: #E9ECEE;
        border: 1px solid #ADB8C0;
        color: #845092;
    }

        .regular-checkbox:checked + label:after {
            color: #845092;
            content: "✔";
            font-size: 14px;
            left: 3px;
            position: absolute;
            top: 0;
        }

.big-checkbox + label {
    padding: 12px;
}

.big-checkbox:checked + label:after {
    font-size: 20px;
    left: 4px;
    top: -2px;
}
/* end checkBox class */
._trans {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

._trans_1 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

._trans_2 {
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

div[over], section[over], article[over] {
    overflow-x: hidden;
    overflow-y: auto;
}

div[overflow], section[overflow], article[overflow], figure[overflow] {
    overflow: hidden;
}

._dir-align-r {
    direction: rtl;
    text-align: right;
}

._dir-align-l {
    direction: ltr;
    text-align: left;
}

._w100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

._w90-pad5 {
    width: 90%;
    margin: 0;
    padding: 0 5%;
}

._w90-m5 {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

._w95-pad25 {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
}

._w95-m25 {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

._w50 {
    width: 50%;
    margin: 0;
    padding: 0;
}

._w40-m5 {
    width: 40%;
    margin: 0 5%;
    padding: 0;
}

._h100 {
    height: 100%;
}

._flex {
    display: flex;
}

._f-r {
    float: right;
}

._f-l {
    float: left;
}

._bg1 {
    background: #6C1B78;
}

._bg1-1 {
    background: #53155c;
}

._color1 {
    color: #6C1B78;
}

._bg2 {
    background: #845092;
}

._color2 {
    color: #845092;
}

._bg3 {
    background: #A27EAE;
}

._color3 {
    color: #A27EAE;
}

._bg4 {
    background: #CAB7D3;
}

._color4 {
    color: #CAB7D3;
}

._bg-w {
    background: #FFF;
}

._bg-f5 {
    background: #F5F5F5;
}

._bg-w1 {
    background: #F1F1F1;
}

._color-w {
    color: #FFF !important;
}

._color-w1 {
    color: #F1F1F1 !important;
}

._color-60 {
    color: #606060;
}

._color-blue {
    color: #00a1e1;
}

._color-blue-1 {
    color: #003580;
}

._bg-red {
    background: #E22A32;
}

._color-red {
    color: #E22A32;
}

._color-g {
    color: #5eba33;
}

._bold {
    font-weight: bold;
}

._border-b {
    border-bottom: 1px solid #CCC !important;
}

._trasform_-20 {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

._trasform_20 {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
}

._fnt-en {
    font-family: "segoe_ui_light","SEGOEUIL",Tahoma,sans-serif;
}

._fnt-fa {
    font-family: "BNazanin","BNazanin_regular","BNazanin_bold";
}

._border-r {
    border-right: 1px solid #845092;
}

._border-l {
    border-left: 1px solid #845092;
}

._cursor {
    cursor: pointer;
}

._position-r {
    position: relative;
}

._position-a {
    position: absolute;
}

._position-f {
    position: fixed;
}

.tooltip {
    position: relative;
}


    .tooltip:hover:after {
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
        top: 110%;
        color: #fff;
        content: attr(data-tooltip);
        left: 10%;
        padding: 5px 10px;
        position: absolute;
        z-index: 100;
        width: 90px;
        font-size: 0.9em;
        text-align: center;
    }


    .tooltip:hover:before {
        -ms-transform: skewX(20deg); /* IE 9 */
        -webkit-transform: skewX(20deg); /* Safari */
        transform: skewX(20deg); /* Standard syntax */
        border: solid;
        border-color: rgba(0,0,0,0.5) transparent;
        border-width: 0 6px 6px 6px;
        bottom: -5px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }
/* country flag */
._country-f-c {
    height: 18px;
    left: 0;
    padding: 6.5px 5px;
    top: 3.5px;
    width: 45px;
    background: #EEE;
    border: 1px solid #A27EAE;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

    ._country-f-c > img {
        width: 20px;
        height: auto;
    }

    ._country-f-c > i {
        color: #aaa;
        font-size: 1.1em;
        margin-left: 5px;
    }

/* end country flag */
