._trans {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

._trans_1 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

._trans_2 {
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -ms-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

div[over], section[over], article[over] {
    overflow-x: hidden;
    overflow-y: auto;
}

div[overflow], section[overflow], article[overflow], figure[overflow] {
    overflow: hidden;
}

._dir-align-r {
    direction: rtl;
    text-align: right;
}

._dir-align-l {
    direction: ltr;
    text-align: left;
}

._w100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

._w90-pad5 {
    width: 90%;
    margin: 0;
    padding: 0 5%;
}

._w90-m5 {
    width: 90%;
    margin: 0 5%;
    padding: 0;
}

._w95-pad25 {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
}

._w95-m25 {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

._w50 {
    width: 50%;
    margin: 0;
    padding: 0;
}

._w40-m5 {
    width: 40%;
    margin: 0 5%;
    padding: 0;
}

._h100 {
    height: 100%;
}

._flex {
    display: flex;
}

._f-r {
    float: right;
}

._f-l {
    float: left;
}

._bg1 {
    background: #6C1B78;
}

._bg1-1 {
    background: #53155c;
}

._color1 {
    color: #6C1B78;
}

._bg2 {
    background: #845092;
}

._color2 {
    color: #845092;
}

._bg3 {
    background: #A27EAE;
}

._color3 {
    color: #A27EAE;
}

._bg4 {
    background: #CAB7D3;
}

._color4 {
    color: #CAB7D3;
}

._bg-w {
    background: #FFF;
}

._bg-f5 {
    background: #F5F5F5;
}

._bg-w1 {
    background: #F1F1F1;
}

._color-w {
    color: #FFF !important;
}

._color-w1 {
    color: #F1F1F1 !important;
}

._color-60 {
    color: #606060;
}

._color-blue {
    color: #00a1e1;
}

._color-blue-1 {
    color: #003580;
}

._bg-red {
    background: #E22A32;
}

._color-red {
    color: #E22A32;
}

._color-g {
    color: #5eba33;
}

._bold {
    font-weight: bold;
}

._border-b {
    border-bottom: 1px solid #CCC !important;
}

._box {
    -webkit-box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    box-sizing: unset !important;
}

._trasform_-20 {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
}

._trasform_20 {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
}

._fnt-en {
    font-family: "IranSans",sans-serif;
}

._fnt-fa {
    font-family: "IranSans",sans-serif;
}

._border-r {
    border-right: 1px solid #845092;
}

._border-l {
    border-left: 1px solid #845092;
}

._cursor {
    cursor: pointer;
}

._position-r {
    position: relative;
}

._position-a {
    position: absolute;
}

._position-f {
    position: fixed;
}

