<section class="_flex _w100 _h100 base-body-container _position-r">
    <section class="_flex body-data-content _h100 _dir-align-r" over>
        <section class="_w100 base-filter-content _dir-align-r">
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="base-s-c _flex" style="width:55%;margin:0 2.5%">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">مقصد:</label>
                        <div angucomplete-alt id="auto_c_From" placeholder="مقصد" maxlength="50" pause="100" selected-object="selectedSource" local-data="dataCitys" search-fields="CityName" title-field="CityName" minlength="1" input-class="input-auto-s _fnt-fa _trans _dir-align-r" match-class="highlight">
                        </div>
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button">
                            <span class="_color-w">جستجو</span>
                        </div>
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">مدت سفر:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="مدت سفر" />
                        <label class="_lbl _lbl-form _dir-align-r lbl-s" style="text-align:center;">سن:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="سن" />
                    </div>
                    <!--
                    -->

                </section>
                <section class="base-s-c _flex" style="width:44%;margin:0 2.5%"></section>
            </section>
        </section>
        <section class="_w100 base-filter-content _flex ch-filter-content _dir-align-r">
            <article class="_flex article-pack-content _trans_1 _position-r" ng-click="SelectedPack('p3')" ng-class="{'select-article-pack-content':lstPack[2].select}">
                <h1 class="_w95-pad25 _bg-red _dir-align-r _flex">
                    <i class="sbs-ico-document-fill _color-w"></i>
                    <b class="_color-w">نام شرکت بیمه گر:</b>
                    <b class="_color-w">رمد</b>
                </h1>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">منطقه:</label>
                    <label class="_lbl _lbl-form _dir-align-r">منطقه یک - اروپا</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">سقف تعهد:</label>
                    <label class="_lbl _lbl-form _dir-align-r">50،000 یورو</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c p-c _bg-w _position-a">
                    <label class="_lbl _lbl-form _dir-align-r">250،000 ریال</label>
                </section>
            </article>
            <article class="_flex article-pack-content _trans_1 _position-r" ng-click="SelectedPack('p3')" ng-class="{'select-article-pack-content':lstPack[2].select}">
                <h1 class="_w95-pad25 _bg-red _dir-align-r _flex">
                    <i class="sbs-ico-document-fill _color-w"></i>
                    <b class="_color-w">نام شرکت بیمه گر:</b>
                    <b class="_color-w">رمد</b>
                </h1>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">منطقه:</label>
                    <label class="_lbl _lbl-form _dir-align-r">منطقه یک - اروپا</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">سقف تعهد:</label>
                    <label class="_lbl _lbl-form _dir-align-r">50،000 یورو</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c p-c _bg-w _position-a">
                    <label class="_lbl _lbl-form _dir-align-r">250،000 ریال</label>
                </section>
            </article>
            <article class="_flex article-pack-content _trans_1 _position-r" ng-click="SelectedPack('p3')" ng-class="{'select-article-pack-content':lstPack[2].select}">
                <h1 class="_w95-pad25 _bg-red _dir-align-r _flex">
                    <i class="sbs-ico-document-fill _color-w"></i>
                    <b class="_color-w">نام شرکت بیمه گر:</b>
                    <b class="_color-w">رمد</b>
                </h1>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">منطقه:</label>
                    <label class="_lbl _lbl-form _dir-align-r">منطقه یک - اروپا</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">سقف تعهد:</label>
                    <label class="_lbl _lbl-form _dir-align-r">50،000 یورو</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c p-c _bg-w _position-a">
                    <label class="_lbl _lbl-form _dir-align-r">250،000 ریال</label>
                </section>
            </article>
            <article class="_flex article-pack-content _trans_1 _position-r" ng-click="SelectedPack('p3')" ng-class="{'select-article-pack-content':lstPack[2].select}">
                <h1 class="_w95-pad25 _bg-red _dir-align-r _flex">
                    <i class="sbs-ico-document-fill _color-w"></i>
                    <b class="_color-w">نام شرکت بیمه گر:</b>
                    <b class="_color-w">رمد</b>
                </h1>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">منطقه:</label>
                    <label class="_lbl _lbl-form _dir-align-r">منطقه یک - اروپا</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c">
                    <label class="_lbl _lbl-form _dir-align-r lbl-m">سقف تعهد:</label>
                    <label class="_lbl _lbl-form _dir-align-r">50،000 یورو</label>
                </section>
                <section class="_w95-pad25 _flex split-item-c p-c _bg-w _position-a">
                    <label class="_lbl _lbl-form _dir-align-r">250،000 ریال</label>
                </section>
            </article>
        </section>
        <section class="_w100 base-filter-content _dir-align-r">
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="base-s-c _flex" style="width:45%;margin:0 2.5%">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">کد ملی:</label>
                        <div angucomplete-alt id="auto_c_NCode" placeholder="کد ملی" maxlength="50" pause="100" selected-object="selectedSource" local-data="dataCitys" search-fields="CityName" title-field="CityName" minlength="1" input-class="input-auto-s _fnt-fa _trans _dir-align-r" match-class="highlight">
                        </div>
                        <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button">
                            <span class="_color-w">جستجو</span>
                        </div>
                    </div>
                </section>

            </section>
            <section class="_w100 _flex filter-content _dir-align-r">
                <section class="base-s-c _flex" style="width:45%;margin:0 2.5%">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">تاریخ تولد:</label>
                        <input class="_txt _txt-form _txt-datepicker _fnt-fa _trans dpFrom" type="text" placeholder="تاریخ تولد" ng-model="checkIn" persiandatepickers-bd />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">شماره شناسنامه:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="شماره شناسنامه" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">نام/FA:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" style="width:110px;" type="text" placeholder="FA" />
                        <label class="_lbl _lbl-form _dir-align-r lbl-m" style="text-align:center;">نام/EN:</label>
                        <input class="_txt _txt-form _fnt-en _trans _dir-align-l" style="width:110px;" type="text" placeholder="Name" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">نام خانوادگی/FA:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="نام خانوادگی" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l" style="text-align:center;">نام خانوادگی/EN:</label>
                        <input class="_txt _txt-form _fnt-en _trans _dir-align-l" type="text" placeholder="Family Name" />
                    </div>
                </section>
                <section class="base-s-c _flex" style="width:45%;margin:0 2.5%">
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">جنسیت:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="جنسیت" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">شماره همراه:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="شماره همراه" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">نام پدر:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="نام پدر" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">شماره گذرنامه:</label>
                        <input class="_txt _txt-form _fnt-fa _trans" type="text" placeholder="شماره گذرنامه" />
                    </div>
                    <div class="_w100 _flex split-i-c">
                        <label class="_lbl _lbl-form _dir-align-r lbl-l">محل صدور:</label>
                        <select class="_select _select-form _dir-align-r _trans" ng-model="Status" ng-options="option.name for option in lstOrderHotelStatus track by option.id">
                            <option value="">انتخاب محل صدور</option>
                        </select>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class="_flex operation-content _dir-align-r">
        <div class="_w50 _flex _dir-align-r">
            <div class="_flex _bttn _bttn-form _cursor _dir-align-r" role="button" ng-click="ShowDetailHistoryHotelOrder();">
                <i class="_color-w _trans sbs-ico-eye"></i>
                <span class="_color-w">ثبت بیمه</span>
            </div>
        </div>
    </section>
</section>



