<section class="_dir-align-r _flex _w100 base-h-search">
    <section class="_flex _w90-pad5 base-h-s-content other-base-h-s-content">
        <div class="_flex _w100 s-c _dir-align-r _position-r">
            <div angucomplete-alt id="auto_c_Hotels" placeholder="شهر مقصد، نام هتل مورد نظر" maxlength="50" pause="100" selected-object="selectedSource" local-data="dataCitys" search-fields="CityName" title-field="CityName" minlength="1" input-class="input-auto-s _fnt-fa _trans _dir-align-r" match-class="highlight">
            </div>
            <input class="_flex input-s ch-input-s _fnt-fa _trans dpFrom" type="text" placeholder="تاریخ ورود" ng-model="searchFlight.DepartingDate" persiandatepickers-from readonly />
            <input class="_flex input-s ch-input-s _fnt-fa _trans dpTo" type="text" placeholder="تاریخ خروج" ng-model="searchFlight.ReturningDate" persiandatepickers-to readonly />
            <div class="bttn-srch-f _flex _trans _cursor" ng-click="SearchInternalFlight(selectedSource.originalObject,selectedDestination.originalObject);" role="button" tabindex="0">
                <span class="_fnt-fa _color-w">جستجو</span>
            </div>
        </div>
    </section>
</section>