<section class="_flex _dir-align-r _w100 base-hotel-view-content">
    <section class="_flex _dir-align-r _w100 search-body-content">
        <re-search-hotel-Services></re-search-hotel-Services>
    </section>
    <section class="_flex _dir-align-r _w100 base-body-r-s-content">
        <section class="_flex _dir-align-r _w90-pad5 set-properties">
            <span class="_color-blue-1 _fnt-fa">صفحه اصلی</span>
            <i class="_color4 sbs-ico-chevron-left"></i>
            <span class="_color-blue-1 _fnt-fa">ایران ( 1343 مورد )</span>
            <i class="_color4 sbs-ico-chevron-left"></i>
            <span class="_color-blue-1 _fnt-fa">تهران:</span>
            <span class="_color-blue-1 _fnt-fa">145 مورد هتل در این شهر یافت شد.</span>
            <i class="_color4 sbs-ico-chevron-left"></i>
            <span class="_color-blue-1 _fnt-fa">هتل اسپیناس پالاس</span>
        </section>
        <section class="_flex _w90-pad5 _dir-align-r menu-h-content">
            <ul class="_flex _w100 _dir-align-r _bg2">
                <li class="_flex _w100 _cursor _trans">جزئیات هتل</li>
                <li class="_flex _w100 _cursor _trans">انتخاب اتاق</li>
                <li class="_flex _w100 _cursor _trans">ویژگی اتاق ها</li>
                <li class="_flex _w100 _cursor _trans">قوانین</li>
            </ul>
        </section>
        <section class="_flex _w90-pad5 _dir-align-r title-h-content">
            <h1 class="_color-blue-1 _flex _fnt-fa">هتل اسپیناس پالاس</h1>
            <i class="sbs-ico-star _flex"></i>
            <i class="sbs-ico-star _flex"></i>
            <i class="sbs-ico-star _flex"></i>
            <i class="sbs-ico-star _flex"></i>
            <i class="sbs-ico-star _flex"></i>
            <span class="_w100 _flex _color-blue sbs-ico-mapmarker"><i class="_color-60 _fnt-fa">تهران، تهران، سعادت آباد</i></span>
        </section>
        <section class="_w90-m5 _flex _dir-align-r impo-facilities-h">
            <span class="_flex _color2 sbs-ico-local_parking"><i class="_flex _fnt-fa _color-60">پارکینگ رایگان</i></span>
            <span class="_flex _color2 sbs-ico-connection"><i class="_flex _fnt-fa _color-60">اینترنت در قسمت لابی</i></span>
            <span class="_flex _color2 sbs-ico-spoon-knife"><i class="_flex _fnt-fa _color-60">رستوران</i></span>
            <span class="_flex _color2 sbs-ico-drink"><i class="_flex _fnt-fa _color-60">کافی شاپ</i></span>
            <span class="_flex _color2 sbs-ico-pool"><i class="_flex _fnt-fa _color-60">استخر،سونا و جکوزی</i></span>
            <span class="_flex _color2 sbs-ico-airport_shuttle"><i class="_flex _fnt-fa _color-60">تاکسی سرویس</i></span>
            <span class="_flex _color2"><i class="_flex _fnt-fa _color-60">آسانسور</i></span>
        </section>
        <section class="_flex _w90-pad5 _dir-align-r base-all-img-h">
            <div class="_flex _w100 _dir-align-r">
                <div class="_flex _w50 _position-r">
                    <figure class="_w100 _flex fig-big-img-h" style="background:url('https://images.jabama.ir//15253')no-repeat center center"></figure>
                    <div class="_flex _dir-align-r p-r-h-c _position-a">
                        <h1 class="_flex _color1">شروع قیمت برای یک شب</h1>
                        <h2 class="_flex _color1">3,390,000 ریال</h2>
                        <a href="#" title="هم اکنون رزرو کنید" class="_flex _w100 reserve-h-c _trans _cursor">رزرو هتل</a>
                    </div>
                </div>
                <div class="_flex _w50 smaller-img-h">
                    <div class="_flex _w100 _dir-align-r top-s-i">
                        <figure class="_flex _w100" style="background:url('https://images.jabama.ir//15257')no-repeat center center"></figure>
                        <figure class="_flex _w100" style="background:url('https://images.jabama.ir//8328')no-repeat center center"></figure>
                    </div>
                    <div class="_flex _w100 _dir-align-r bottom-s-i">
                        <figure class="_flex _w100" style="background:url('https://images.jabama.ir//706')no-repeat center center"></figure>
                        <figure class="_flex _w100" style="background:url('https://images.jabama.ir//710')no-repeat center center"></figure>
                    </div>
                </div>
            </div>
            <div class="_flex _w100 other-small-img _dir-align-r">
                <figure class="_flex _w100" style="background:url('https://images.jabama.ir//15256')no-repeat center center"></figure>
                <figure class="_flex _w100" style="background:url('https://images.jabama.ir//15255')no-repeat center center"></figure>
                <figure class="_flex _w100" style="background:url('https://images.jabama.ir//715')no-repeat center center"></figure>
                <figure class="_flex _w100" style="background:url('https://images.jabama.ir//8328')no-repeat center center"></figure>
                <figure class="_flex _w100" style="background:url('https://images.jabama.ir//708')no-repeat center center"></figure>
                <figure class="_flex _w100 _position-r" style="background:url('https://images.jabama.ir//704')no-repeat center center">
                    <figcaption class="_flex _w100 _h100 _position-a fig-caption-c">
                        <i class="_color-w sbs-ico-eye"></i>
                        <span>نمایش بیشتر</span>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section class="_flex _w90-pad5 _dir-align-r base-other-content">
            <section class="_flex _w100 r-desc-h-content">
                <section class="_w100 desc-h">
                    <p class="_w100 _fnt-fa">هتل پنج ستاره لوکس هما در یکی از زیباترین باغ‌های شهر شیراز با چشم اندازی دلنواز در سال 1350 تاسیس گردید. این هتل در 8 طبقه اقامتی مشتمل بر 212 باب اتاق و 22 باب سوییت طراحی شده که تمامی اتاق‌ها با چشم انداز باغ پرگل و کوه‌های بلند مزین شده اند. اصالت و شکوه شهر شیراز را در فضای دلنشین، گرم و صمیمی هتل بزرگ هما می‌توان تجربه کرد.هتل هما با چندین رستوران مجلل در سبک‌های متفاوت و فضاهایی دیدنی امکان سرو غذا را لذت بخش‌تر می‌کند. </p>
                    <p class="_w100 _fnt-fa">امكان پذيرايی و میزبانی عالی از مراسم و جلسات، كافی شاپ، فضای داخلی زيبا مجهز به آسانسور، پاركينگ اختصاصی، اتاق كنفرانس، كافی نت، صندوق امانات رايگان در پذيرش و داخل اتاق‌ها، حراست و خدمات امنيتی، صبحانه به صورت بوفه، انجام سريع امور پذيرش و تسويه حساب، روم سرويس 24 ساعته، آرايشگاه، خدمات بانكی و دفترفروش بليط هواپيما از امکانات ویژه هتل‌ هما شیراز است. جهت ارائه سرویس ویژه به معلولین و جانبازان گرامی وسایل رفاهی مانند ویلچر و رمپ ورودی وجود دارد. </p>
                    <p class="_w100 _fnt-fa">هتل پنج ستاره لوکس هما در یکی از زیباترین باغ‌های شهر شیراز با چشم اندازی دلنواز در سال 1350 تاسیس گردید. این هتل در 8 طبقه اقامتی مشتمل بر 212 باب اتاق و 22 باب سوییت طراحی شده که تمامی اتاق‌ها با چشم انداز باغ پرگل و کوه‌های بلند مزین شده اند. اصالت و شکوه شهر شیراز را در فضای دلنشین، گرم و صمیمی هتل بزرگ هما می‌توان تجربه کرد.هتل هما با چندین رستوران مجلل در سبک‌های متفاوت و فضاهایی دیدنی امکان سرو غذا را لذت بخش‌تر می‌کند. </p>
                    <p class="_w100 _fnt-fa">امكان پذيرايی و میزبانی عالی از مراسم و جلسات، كافی شاپ، فضای داخلی زيبا مجهز به آسانسور، پاركينگ اختصاصی، اتاق كنفرانس، كافی نت، صندوق امانات رايگان در پذيرش و داخل اتاق‌ها، حراست و خدمات امنيتی، صبحانه به صورت بوفه، انجام سريع امور پذيرش و تسويه حساب، روم سرويس 24 ساعته، آرايشگاه، خدمات بانكی و دفترفروش بليط هواپيما از امکانات ویژه هتل‌ هما شیراز است. جهت ارائه سرویس ویژه به معلولین و جانبازان گرامی وسایل رفاهی مانند ویلچر و رمپ ورودی وجود دارد. </p>
                </section>
                <section class="_flex _dir-align-r _w100 search-date-of-hotel">
                    <re-search-date-hotel-Services></re-search-date-hotel-Services>
                </section>
                <section class="_flex _w100 _bg-w _dir-align-r impo-desc">
                    <span class="_flex _dir-align-r _w95-pad25 inner-impo-desc">
                        <i class="sbs-ico-document-fill _color-red"></i>
                        <b class="_color-red _fnt-fa">در صورتی که مایل به تغییر ساعت ورود و خروج هتل خود هستید، اطلاعات خود را وارد نمایید. لارم به ذکر است که در صورت ورود افراد قبل از ساعت 14 به هتل، ورود شامل نیم شارژ و همچنین در صورت خروج از هتل در ساعت بعد از 12 ظهر، شامل نیم شارژ خروج خواهد بود.</b>
                    </span>
                </section>
            </section>
            <section class="_flex l-info-h-content">
                <section class="_flex _w100 split-r-content _t">
                    <a href="#" title="نمایش نقشه هتل" class="_flex _dir-align-r _w90-m5 _trans"><i class="sbs-ico-map _color-w"></i><h1 class="_color-w _fnt-fa">نمایش نقشه هتل</h1></a>
                    <a href="#" title="افزودن به لیست" class="_flex _dir-align-r _w90-m5 _trans"><i class="sbs-ico-heart _color-w"></i><h1 class="_color-w _fnt-fa">افزودن به لیست</h1></a>
                </section>
                <section class="_flex _w100 split-r-content _m">
                    <h1 class="_w100 _flex _w95-pad25 _bg1 _dir-align-r">
                        <i class="sbs-ico-circle-compass"></i>
                        نزدیکی به اماکن مهم شهر
                    </h1>
                    <div class="_w100 _flex _w95-pad25 _place _dir-align-r">
                        <h1 class="_flex _w100 _dir-align-r _color-60"><i class="sbs-ico-airplane _color1"></i> فاصله تا فرودگاه: 21 دقیقه با ماشین</h1>
                        <h1 class="_flex _w100 _dir-align-r _color-60"><i class="sbs-ico-subway _color1"></i>  فاصله تا راه آهن: 27 دقیقه با ماشین</h1>
                    </div>
                </section>
            </section>
        </section>
        <section class="_w90-pad5 _flex room-content">
            <table class="tbl-h-s _w100">
                <thead>
                    <tr>
                        <th scope="col">نوع اتاق</th>
                        <th scope="col">ظرفیت اتاق</th>
                        <th scope="col">خدمات</th>
                        <th scope="col">ساعت ورود</th>
                        <th scope="col">ساعت خروج</th>
                        <th scope="col">قیمت هر شب (ریال)</th>
                        <th scope="col">تعداد اتاق</th>
                        <th scope="col" style="width:130px;">رزرو</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="_w100">
                        <td>اتاق یک تخته</td>
                        <td>
                            <i class="sbs-ico-user2"></i>
                        </td>
                        <td>
                            <span class="sbs-ico-drink"></span>
                            <h1 class="_color-blue">صبحانه</h1>
                        </td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.In" no-meridiem no-auto-switch></md-time-picker></td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.Out" no-meridiem no-auto-switch></md-time-picker></td>
                        <td><h2 class="_fnt-fa">1,960,000</h2></td>
                        <td><input class="_txt _txt-form _dir-align-r _fnt-fa  _trans" type="number" placeholder="تعداد" max="8" min="1" /></td>
                        <td rowspan="400" class="td-r-co">
                            <div class="_flex _dir-align-r r-col-content _w95-pad25">
                                <h1 class="_color2">مجموع قیمت سفارش</h1>
                                <h1 class="_color-60">37,500,000 ريال</h1>
                                <div class="bttn-srch-f _flex _trans _cursor" ng-click="ReserveInternalHotel();" role="button" tabindex="0">
                                    <span class="_fnt-fa _color-w">رزرو نهایی هتل</span>
                                </div>
                                <span class="_color-red">هزینه اقامت کودک خردسال‌تان تا سن 5 سال رایگان محاسبه می‌شود.</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="_w100">
                        <td>اتاق دو تخته</td>
                        <td>
                            <i class="sbs-ico-user2"></i>
                            <i class="sbs-ico-user2"></i>
                        </td>
                        <td>
                            <span class="sbs-ico-drink"></span>
                            <h1 class="_color-blue">صبحانه</h1>
                        </td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.In" no-meridiem no-auto-switch></md-time-picker></td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.Out" no-meridiem no-auto-switch></md-time-picker></td>
                        <td><h2 class="_fnt-fa">1,960,000</h2></td>
                        <td><input class="_txt _txt-form _dir-align-r _fnt-fa  _trans" type="number" placeholder="تعداد" max="8" min="1" /></td>

                    </tr>
                    <tr class="_w100">
                        <td>سوییت دو تخته</td>
                        <td>
                            <i class="sbs-ico-user2"></i>
                            <i class="sbs-ico-user2"></i>
                        </td>
                        <td>
                            <span class="sbs-ico-drink"></span>
                            <h1 class="_color-blue">صبحانه</h1>
                        </td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.In" no-meridiem no-auto-switch></md-time-picker></td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.Out" no-meridiem no-auto-switch></md-time-picker></td>
                        <td><h2 class="_fnt-fa">1,960,000</h2></td>
                        <td><input class="_txt _txt-form _dir-align-r _fnt-fa  _trans" type="number" placeholder="تعداد" max="8" min="1" /></td>
                    </tr>
                    <tr class="_w100">
                        <td>سوییت رویال چهار تخته</td>
                        <td>
                            <i class="sbs-ico-user2"></i>
                            <i class="sbs-ico-user2"></i>
                            <i class="sbs-ico-user2"></i>
                            <i class="sbs-ico-user2"></i>
                        </td>
                        <td>
                            <span class="sbs-ico-drink"></span>
                            <h1 class="_color-blue">صبحانه</h1>
                        </td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.In" no-meridiem no-auto-switch></md-time-picker></td>
                        <td class="_dir-align-l _fnt-en"><md-time-picker ng-model="time.Out" no-meridiem no-auto-switch></md-time-picker></td>
                        <td><h2 class="_fnt-fa">1,960,000</h2></td>
                        <td><input class="_txt _txt-form _dir-align-r _fnt-fa  _trans" type="number" placeholder="تعداد" max="8" min="0" /></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>